<div class="weui-panel weui-panel_access">
  <div class="weui-panel__hd">列表</div>
  <div class="weui-panel__bd">
    <% @customs.each do |custom| %>
      <div class="weui-media-box weui-media-box_appmsg" data-controller="swipe" data-action="touchmove->swipe#left touchstart->swipe#start">
        <div class="weui-media-box__hd">
          <%= image_tag custom.product.logo, class: 'weui-media-box__thumb' if custom.product.logo.attached? %>
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title"><%= custom.product.name %></h4>
          <p class="weui-media-box__desc">
            <% custom.parts.each do |part| %>
              <span><%= part.name %></span>
            <% end %>
          </p>
          <ul class="weui-media-box__info">
            <li class="weui-media-box__info__meta">
              <span><%= custom.price %></span>
            </li>
            <li class="weui-media-box__info__meta">
              <%= link_to edit_my_custom_path(custom), aria: { label: t('.edit') } do %>
                <i class="fa-light fa-pencil weui-icon"></i>
              <% end %>
              <%= link_to cart_my_custom_path(custom), method: :post, aria: { label: t('.new') } do %>
                <i class="fa-light fa-plus weui-icon"></i>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="weui-media-box__ft" data-swipe-target="open">
          <%= link_to '删除', my_custom_path(custom), method: :delete, data: { confirm: t('.confirm') }, class: 'weui-btn weui-btn_mini weui-btn_warn' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
