<tr data-depth="<%= part_taxon.depth_str %>">
  <td>
    <span style="width: <%= part_taxon.depth * 1.43 %>em; display: inline-block"></span>
    <% if !part_taxon.leaf? %>
      <i class="fas fa-caret-down fa-fw" data-action="click->tree#collapse" style="cursor: pointer"></i>
    <% else %>
      <i class="fas fa-minus fa-fw"></i>
    <% end %>
    <span><%= part_taxon.name %></span>
  </td>
  <td>
    <% if part_taxon.factory_taxon %>
      <%= link_to part_taxon.factory_taxon.name, { controller: 'factory_taxons', action: 'show', id: part_taxon.factory_taxon_id } %>
      <%= link_to '进货', { action: 'import', id: part_taxon.id } %>
  <% end %>
  </td>
  <td>
    <%= link_to({ action: 'edit', id: part_taxon.id }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: part_taxon.id }, method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
