<tr data-depth="<%= node.depth_str %>">
  <td>
    <span><%= ('&emsp;' * node.depth * 2).html_safe %></span>
    <i class="grey caret down icon link"></i>
    <span><%= node.name %></span>
  </td>
  <td><%= node.position %></td>
  <td>
    <span class="ui toggle checkbox">
      <%= check_box_tag :take_stock, nil, node.take_stock,
                        data: {
                          url: admin_part_taxon_path(node),
                          method: :patch,
                          remote: true,
                          params: "[part_taxon]take_stock=#{!node.take_stock}"
                        },
                        id: nil
      %>
    </span>
  </td>
  <td>
    <%= link_to edit_admin_part_taxon_path(node), data: { tooltip: t('.edit') }, class: 'ui pink mini icon button' do %>
      <i class="pencil alternate icon"></i>
    <% end %>
    <%= link_to admin_part_taxon_path(node), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
      <i class="times icon"></i>
    <% end %>
  </td>
</tr>
