<tr data-depth="<%= part_taxon.depth_str %>">
  <td>
    <span><%= ('&emsp;' * part_taxon.depth * 2).html_safe %></span>
    <i class="grey caret down icon link"></i>
    <span><%= part_taxon.name %></span>
  </td>
  <td><%= part_taxon.position %></td>
  <td>
    <%= link_to edit_admin_part_taxon_path(part_taxon), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to admin_part_taxon_path(part_taxon), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
