<tr data-depth="<%= node.depth_str %>">
  <td>
    <span><%= ('&emsp;' * node.depth * 2).html_safe %></span>
    <a onclick="collapse(this)" href="javascript:void(0)"><i class="grey caret down icon"></i></a>
    <span><%= node.name %></span>
  </td>
  <td><%= node.position %></td>
  <td>
    <%= form_with model: node, scope: :part_taxon, url: admin_part_taxon_path(node), method: :patch, remote: true do |f| %>
      <%= f.check_box :take_stock, onChange: "Rails.fire(this.form, 'submit')", label: false, on: {wrapper_all: false, offset: false} %>
    <% end %>
  </td>
  <td>
    <%= link_to t('.edit'), edit_admin_part_taxon_path(node), class: 'ui pink label' %>
    <%= link_to t('.destroy'), admin_part_taxon_path(node), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
  </td>
</tr>
