<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('factory.admin.parts.index.title'), admin_parts_path, class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <div class="active section"><%= t('.title') %></div>
  </div>
<% end %>

<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= PartTaxon.human_attribute_name(:name) %></th>
      <th><%= PartTaxon.human_attribute_name(:min_select) %></th>
      <th><%= PartTaxon.human_attribute_name(:max_select) %></th>
      <th>
        <%= link_to new_admin_part_taxon_path, remote: true, class: 'ui teal button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @part_taxons.each do |part_taxon| %>
    <%= render partial: 'part_taxon', locals: { part_taxon: part_taxon } %>
    <%= draw_tree(partial: 'factory/admin/part_taxons/part_taxon', object: part_taxon) %>
  <% end %>
  </tbody>
</table>

<%= paginate @part_taxons %>
