<div class="ui top attached borderless menu">
  <%= link_to '配件', admin_parts_path, class: active_helper(controllers: ['parts']) %>
  <%= link_to '配件分类', admin_part_taxons_path, class: active_helper(controllers: ['part_taxons']) %>
  <div class="right menu">
    <div class="item"><%= link_to 'New Part Taxon', new_admin_part_taxon_path, class: 'ui teal button' %></div>
  </div>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= PartTaxon.human_attribute_name(:name) %></th>
      <th><%= PartTaxon.human_attribute_name(:position) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @part_taxons.each do |part_taxon| %>
    <%= render partial: 'part_taxon', locals: { node: part_taxon } %>
    <%= draw_tree(part_taxon, partial: 'factory/admin/part_taxons/part_taxon') %>
  <% end %>
  </tbody>
</table>

<%= paginate @part_taxons %>
