<td><%= model.number.to_human %></td>
<td><%= model.amount.to_money.format.html_safe %></td>
<td><%= model.note %></td>
<td><%= model.purchase_status_i18n %></td>
<td>
  <p><%= model.member&.name %></p>
</td>
