<td>
  <div class="is-several">
    <%= image_tag model.product.logo.variant(resize_to_limit: [80, 80]), class: 'image is-32x32' if model.product.logo.attached? %>
    <%= link_to model.product.name, { action: 'show', id: model.id }, text: true %>
    <%= link_to({ controller: 'productions', product_id: model.id }, aria: { label: t('factory.admin.productions.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-regular fa-clone"></i>
      <span class="pl-1"><%= model.product.productions_count %></span>
    <% end %>
  </div>
</td>
<td>
  <p><%= model.product.brand&.name %></p>
</td>
<td><%= model.profit_margin_str %></td>
<td>
  <p><%= model.min_price.to_money.format.html_safe %></p>
  <p><%= model.max_price.to_money.format.html_safe %></p>
</td>
<td>
  <%= form_with theme: nil, model: model.product, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :specialty, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <% model.product.taxon_components.each do |taxon_component| %>
    <p>
      <span><%= taxon_component.name %></span>
      <span class="text-grey size-7"><%= taxon_component.select_str %></span>
    </p>
  <% end %>
  <p>
    <%= link_to({ controller: 'taxon_components', product_id: model.id }, aria: { label: t('factory.admin.taxon_components.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-tree"></i>
    <% end %>
  </p>
</td>
