<tr>
  <td><%= Factory::Fit.human_attribute_name(:part_brand_id) %></td>
  <td><%= @fit.part_brand_id %></td>
</tr>
<tr>
  <td><%= Factory::Fit.human_attribute_name(:part_serial_id) %></td>
  <td><%= @fit.part_serial_id %></td>
</tr>
<tr>
  <td><%= Factory::Fit.human_attribute_name(:part_product_id) %></td>
  <td><%= @fit.part_product_id %></td>
</tr>
<tr>
  <td><%= Factory::Fit.human_attribute_name(:part_production_id) %></td>
  <td><%= @fit.part_production_id %></td>
</tr>
