<div>
  <dt><%= Factory::Fit.human_attribute_name(:part_brand_id) %></dt>
  <dd><%= @fit.part_brand_id %></dd>
</div>
<div>
  <dt><%= Factory::Fit.human_attribute_name(:part_serial_id) %></dt>
  <dd><%= @fit.part_serial_id %></dd>
</div>
<div>
  <dt><%= Factory::Fit.human_attribute_name(:part_product_id) %></dt>
  <dd><%= @fit.part_product_id %></dd>
</div>
<div>
  <dt><%= Factory::Fit.human_attribute_name(:part_production_id) %></dt>
  <dd><%= @fit.part_production_id %></dd>
</div>
