<tr>
  <td><%= part_provider.part.organ&.name %></td>
  <td><%= part_provider.part.name %></td>
  <td><%= part_provider.export_price %></td>
  <td><time><%= part_provider.created_at.to_s(:rfc822) %></time></td>
  <td>
    <%= link_to({ action: 'edit', id: part_provider.id }, aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: part_provider.id }, method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </td>
</tr>
