<tr id="tr_<%= @product_taxon.id %>_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <td>
    <div class="is-several">
      <span style="width: 1em; display: inline-block"></span>
      <%= image_tag model.product.logo.variant(resize_to_limit: [24, 24]), class: 'image is-24x24' if model.product.logo.attached? %>
      <span><%= model.name %></span>
    </div>
  </td>
  <td>
    <table class="table is-borderless">
      <% model.parts.each do |part| %>
        <tr>
          <td><span class="tag"><%= link_to part.name, { controller: 'parts', action: 'show', id: part.id } %></span></td>
          <td><%= part.price %></td>
        </tr>
      <% end %>
    </table>
  </td>
  <td>
    <% downstream_production = model.downstreams.default_where(default_params).take %>
    <% if downstream_production %>
      <i class="fa-solid fa-check has-text-success"></i>
      <%= button_to({ controller: 'admin/productions', action: 'destroy', product_id: downstream_production.product_id, id: downstream_production.id }, method: :delete, aria: { label: t('.provide') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-times has-text-danger"></i>
      <% end %>
    <% else %>
      <%= button_to({ action: 'copy', product_id: model.product_id, production_id: model.id }, aria: { label: t('.provide') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-tractor has-text-success"></i>
      <% end %>
    <% end %>
  </td>
  <td></td>
  <td>
    <%= link_to({ controller: 'productions', action: 'show', product_id: model.product_id, id: model.id }, aria: { label: t('.show') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-circle-info has-text-primary"></i>
    <% end %>
  </td>
</tr>
