<tr id="tr_<%= model.product_id %>_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <td>
    <div class="is-several pl-4">
      <span><%= model.name %></span>
      <span class="has-text-danger pl-1"><%= model.price.to_money.format.html_safe %></span>
    </div>
  </td>
  <td>
    <table class="table is-borderless">
      <% model.parts.each do |part| %>
        <tr>
          <td><span class="tag"><%= link_to part.name, { controller: 'parts', action: 'show', id: part.id } %></span></td>
          <td><%= part.price %></td>
        </tr>
      <% end %>
    </table>
  </td>
  <td>
    <% if @imported_production_ids.include?(model.id) %>
      <i class="fa-solid fa-check has-text-success"></i>
      <%= button_to({ action: 'prune', production_id: model.id }, method: :delete, aria: { label: t('factory.in.product_taxons.prune.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-times has-text-danger"></i>
      <% end %>
    <% else %>
      <%= button_to({ action: 'copy' }, params: { production_id: model.id }, aria: { label: t('factory.in.product_taxons.copy.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-tractor has-text-success"></i>
      <% end %>
    <% end %>
  </td>
  <td></td>
  <td>
    <%= link_to({ controller: 'productions', action: 'show', product_id: model.product_id, id: model.id }, aria: { label: t('.show') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-circle-info has-text-info"></i>
    <% end %>
  </td>
</tr>
