<td>
  <p><%= model.name %></p>
  <p class="has-text-grey"><%= model.qr_prefix %></p>
</td>
<td><%= image_tag model.logo, class: 'image is-32x32' if model.logo.attached? %></td>
<td>
  <%= link_to 'Plan', { controller: 'part_plans', part_id: model.id }, class: 'button' %>
</td>
<td class="has-text-right">
  <p><%= model.import_price.to_s(:currency, unit: '￥') %></p>
  <p><%= model.profit_price.to_s(:currency, unit: '￥') %></p>
  <p><%= model.price.to_s(:currency, unit: '￥') %></p>
</td>
<td>
  <%= link_to({ controller: 'part_providers', part_id: model.id }, class: 'button is-small is-rounded is-light') do %>
    <span>供应商管理</span>
    <span class="has-text-green"><%= model.part_providers_count %></span>
  <% end %>
</td>
