<tr>
  <td><%= ProductPart.human_attribute_name(:part_taxon_id) %></td>
  <td><%= @product_part.part_taxon_id %></td>
</tr>
<tr>
  <td><%= ProductPart.human_attribute_name(:part_id) %></td>
  <td><%= @product_part.part_id %></td>
</tr>
<tr>
  <td><%= ProductPart.human_attribute_name(:default) %></td>
  <td><%= @product_part.default %></td>
</tr>
