<article class="weui-article">
  <%= image_tag @product.main_image %>
  <h1><%= @product.name %></h1>
</article>

<% @product.part_taxons.each do |part_taxon| %>
<div>
  <div class="weui-cells__title"><%= part_taxon.name %></div>
  <div class="weui-cells weui-cells_radio">
    <% @custom.parts.select { |part| part.part_taxon_id == part_taxon.id }.each do |part| %>
    <label class="weui-cell weui-check__label" for="part_<%= part.id %>">
      <span class="weui-cell__bd">
        <span><%= part.name %></span>
      </span>
      <span class="weui-cell__ft">
        <span><%= part.price %></span>
        <input type="radio" class="weui-check" name="radio1" id="part_<%= part.id %>">
        <span class="weui-icon-checked"></span>
      </span>
    </label>
    <% end %>
    <a href="javascript:void(0);" class="weui-cell weui-cell_link">
      <div class="weui-cell__bd">添加更多</div>
    </a>
  </div>
</div>
<% end %>
