<article class="weui-article">
  <%= image_tag @product.main_image %>
  <h1><%= @product.name %></h1>
</article>

<div id="sti">
  <span class="weui-btn weui-btn_primary" id="total_price"><%= @product.price %></span>
</div>

<% @product.part_taxons.each do |part_taxon| %>
<div>
  <div class="weui-cells__title"><%= part_taxon.name %></div>
  <div class="weui-cells weui-cells_radio">
    <% @custom.parts.select { |part| part.part_taxon_id == part_taxon.id }.each do |part| %>
    <label class="weui-cell weui-cell_disabled weui-check__label" for="part_<%= part.id %>" data-controller="input">
      <span class="weui-cell__bd">
        <span><%= part.name %></span>
      </span>
      <span class="weui-cell__ft">
        <span><%= part.price %></span>
        <%= check_box_tag :price, nil, false, data: { remote: true, method: :post, url: update_price_wx_customs_url, target: 'input.output' }, class: 'weui-check', id: "part_#{part.id}" %>
        <i class="weui-icon-checked"></i>
      </span>
    </label>
    <% end %>
    <a href="javascript:void(0);" class="weui-cell weui-cell_link">
      <div class="weui-cell__bd">添加更多</div>
    </a>
  </div>
</div>
<% end %>

<% 15.times.each do |i| %>
  <p>嘿嘿嘿</p>
<% end %>
