<div class="panel" data-controller="typer">
  <%= form_with theme: nil, scope: nil, method: :get, url: { action: 'search' } do |f| %>
    <div class="control has-icons-left">
      <%= f.search_field 'name-like', class: 'input', placeholder: '搜索', data: { typer_target: 'input' } %>
      <span class="icon is-left"><i class="fa-light fa-search"></i></span>
    </div>
    <div class="panel-block" id="user_content">
    </div>
  <% end %>
  <%= form_with theme: nil, scope: nil, url: { action: 'create' }, html: { style: 'width: 100%' } do |f| %>
    <%= f.hidden_field :provider_id, data: { typer_target: 'value' } %>
    <div class="panel-block">
      <%= f.submit '确认', class: 'button' %>
    </div>
  <% end %>
</div>
