<div class="tags has-addons">
  <div data-controller="input" class="tag">
  <% if @select_ids.include?(provider.id) %>
    <%= check_box_tag :provider_id, provider.id, true, data: { method: :destroy, remote: true, url: admin_provider_tag_provider_taggeds_path(@provider_tag), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
    <label><%= provider.name %><%=  %></label>
  <% else %>
    <%= check_box_tag :provider_id, provider.id, false, data: { method: :post, remote: true, url: admin_provider_tag_provider_taggeds_path(@provider_tag), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
    <label><%= provider.name %><%=  %></label>
  <% end %>
  </div>
</div>
