<li><%= link_to t('factory.admin.product_taxons.index.title'), { controller: 'product_taxons', anchor: "tr_#{@product_taxon.id}" } %></li>
<li>
  <div class="px-3">
    <span><%= @product_taxon.name %></span>
    <% if @product_taxon.factory_taxon %>
      <span class="has-text-grey">（<%= @product_taxon.factory_taxon.name %>）</span>
    <% end %>
  </div>
</li>
<li><%= link_to t('factory.admin.products.index.title'), { controller: 'products' } %></li>
<li class="is-active"><%= t('.title') %></li>
