<td><span class="pl-4"><%= model.name %></span></td>
<td>
  <p class="text-danger"><%= model.cost_price.to_money.format.html_safe %></p>
  <p class="text-grey"><%= model.price.to_money.format.html_safe %></p>
</td>
<td>
  <table class="table is-borderless">
    <% model.parts.each do |part| %>
      <tr>
        <td><span class="tag"><%= link_to part.name, { controller: 'parts', action: 'show', id: part.id } %></span></td>
        <td><%= part.price %></td>
      </tr>
    <% end %>
  </table>
</td>
<td>
  <table>
  <% model.production_provides.each do |pp| %>
    <tr>
      <td>
      <% if item = @cart.find_item(purchase_id: model.id, good_id: pp.upstream_production_id) %>
        <%= render partial: 'purchase_cart', locals: { item_con: 'trade/in/items', model: model, item: item } %>
      <% else %>
        <%= render partial: 'add_purchase_cart', locals: { cart: @cart, item_con: 'trade/in/items', model: model, good_id: pp.upstream_production_id } %>
      <% end %>
      </td>
      <td><%= pp.provider.name %></td>
    </tr>
  <% end %>
  <% if item = @cart.find_item(purchase_id: model.id, good_id: nil) %>
    <%= render partial: 'purchase_cart_assign', locals: { model: model, item: item } %>
  <% else %>
    <%= render partial: 'add_purchase_cart_assign', locals: { model: model } %>
  <% end %>
  </table>
</td>
