<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <span data-show-target="item" style="visibility: hidden">
      <%= link_to({ action: 'show', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.show') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-circle-info"></i>
      <% end %>
      <%= link_to({ controller: 'trade_items', production_id: model.id }, aria: { label: t('factory.admin.trade_items.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-shopping-cart"></i>
      <% end %>
      <%= link_to({ controller: 'provideds', production_id: model.id }, aria: { label: t('factory.admin.provideds.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-hand-holding"></i>
      <% end %>
      <%= link_to({ controller: 'addresses', production_id: model.id }, aria: { label: t('factory.admin.addresses.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-map-marker-alt"></i>
      <% end %>
      <%= link_to({ action: 'edit', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-pencil"></i>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.confirm') } }) do %>
        <i class="fa-light fa-trash"></i>
      <% end %>
      <%= link_to({ controller: 'production_plans', production_id: model.id }, class: 'button is-small is-rounded is-info') do %>
        <i class="fa-light fa-list-timeline"></i>
        <span><%= t('factory.admin.production_plans.index.title') %></span>
      <% end %>
    </span>
  </td>
</tr>
