<p class="weui-media-box__desc"><%= model.name %></p>
<p class="weui-media-box__desc"><%= model.state_i18n %></p>
<p class="weui-media-box__desc"><%= model.qr_code %></p>
<p class="weui-media-box__desc"><%= model.cost_price.to_money.format.html_safe %></p>
<p class="weui-media-box__desc"><%= model.profit_price.to_money.format.html_safe %></p>
<p><%= model.price.to_money.format.html_safe %></p>
