<td>
  <div class="is-several">
    <%= image_tag model.logo, class: 'image is-24x24' if model.logo.attached? %>
    <span><%= model.name %></span>
    <span class="tag"><%= model.state_i18n %></span>
  </div>
  <p class="has-text-grey"><%= model.qr_code %></p>
</td>
<td class="has-inner-table">
  <table class="table is-fullwidth is-borderless">
    <% model.parts.each do |part| %>
      <tr>
        <td>
          <span class="tag"><%= link_to part.name, { controller: 'parts', action: 'show', id: part.id }, data: { turbo_frame: 'modal' } %></span>
        </td>
        <td><%= part.price %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to({ action: 'edit', id: model.id }, data: { turbo_frame: 'modal', show_target: 'item' }, aria: { label: t('factory.admin.productions.part.title') }) do %>
    <i class="fa-regular fa-cube fa-sm has-text-grey"></i>
  <% end %>
</td>
<td class="has-text-right">
  <p><%= model.base_price.to_money.format.html_safe %></p>
  <p><%= model.cost_price.to_money.format.html_safe %></p>
  <p><%= model.profit_price.to_money.format.html_safe %></p>
</td>
<td>
  <%= model.price.to_money.format.html_safe %>
  <%= link_to({ action: 'price', id: model.id }, data: { turbo_frame: 'modal', show_target: 'item' }, aria: { label: t('factory.admin.productions.price.title') }) do %>
    <i class="fa-regular fa-tags fa-sm has-text-grey"></i>
  <% end %>
</td>
<td>
  <div>
  <% model.card_price.each do |key, value| %>
    <div class="tags has-addons control mb-0">
      <div class="tag is-success"><%= key %></div>
      <div class="tag is-light"><%= value.to_money.format.html_safe %></div>
    </div>
  <% end %>
  </div>
  <%= link_to({ action: 'card', id: model.id }, data: { turbo_frame: 'modal', show_target: 'item' }, aria: { label: t('factory.admin.productions.vip.title') }) do %>
    <i class="fa-solid fa-pencil fa-sm has-text-grey"></i>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :default, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :enabled, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :automatic, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
