<th colspan="2">
  <p><%= Factory::Production.human_attribute_name(:name) %></p>
</th>
<th class="has-text-right">
  <p><%= Factory::Production.human_attribute_name(:cost_price) %></p>
  <p><%= Factory::Production.human_attribute_name(:profit_price) %></p>
  <p><%= Factory::Production.human_attribute_name(:price) %></p>
</th>
<th><%= Factory::Production.human_attribute_name(:card_price) %></th>
<th>
  <p><%= Factory::Production.human_attribute_name(:default) %></p>
  <p><%= Factory::Production.human_attribute_name(:presell) %></p>
</th>
<th>
  <p><%= Factory::Production.human_attribute_name(:enabled) %></p>
  <p><%= Factory::Production.human_attribute_name(:automatic) %></p>
</th>
