<td><%= link_to model.production.name, { controller: 'productions', action: 'index', product_id: model.product_id, id: model.production_id }, text: true %></td>
<td><%= model.production.price.to_money.format.html_safe %></td>
<td id="inline_<%= model.id %>_planned_count" style="width: 150px">
  <span><%= model.planned_count %></span>
  <%= button_to({ controller: 'production_plans', action: 'inline', production_id: model.production_id, id: model.id }, params: { field: 'planned_count', field_type: 'number_field' }, form: { data: { show_target: 'item' }, class: 'button_to visibility-hidden' }) do %>
    <i class="fa-solid fa-pencil text-grey"></i>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { controller: 'production_plans', action: 'update', production_id: model.production_id, id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :specialty, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <%= link_to({ controller: 'production_plans', action: 'show', production_id: model.production_id, id: model.id }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-barcode-scan"></i>
    <span class="ml-1"><%= t('.production_plans.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'production_items', production_id: model.production_id, produce_on: model.produce_on }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-barcode-scan"></i>
    <span class="ml-1">生产明细</span>
    <span class="text-grey">（<%= model.production_items_count %>）</span>
  <% end %>
  <%= link_to({ controller: 'trade_items', production_id: model.production_id, produce_on: model.produce_on }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-bag-shopping text-info"></i>
    <span class="ml-1">订单明细</span>
    <span class="text-grey">（<%= model.trade_items_count %>）</span>
  <% end %>
</td>
