<p class="weui-media-box__desc"><%= model.scene&.title %></p>
<p class="weui-media-box__desc"><%= model.produce_on %></p>
<p class="weui-media-box__desc"><time data-controller="time"><%= model.start_at.to_s(:rfc822) if model.start_at %></time></p>
<p class="weui-media-box__desc"><time data-controller="time"><%= model.finish_at.to_s(:rfc822) if model.finish_at %></time></p>
<p class="weui-media-box__desc"><%= model.state_i18n %></p>
<p class="weui-media-box__desc"><%= model.planned_count %></p>
<p class="weui-media-box__desc"><%= link_to model.produced_count, { controller: 'production_items', production_plan_id: model.id } %></p>
