<div>
  <dt><%= Factory::ProductComponent.human_attribute_name(:name) %></dt>
  <dd><%= @product_component.name %></dd>
</div>
<div>
  <dt><%= Factory::ProductComponent.human_attribute_name(:min_select) %></dt>
  <dd><%= @product_component.min_select %></dd>
</div>
<div>
  <dt><%= Factory::ProductComponent.human_attribute_name(:max_select) %></dt>
  <dd><%= @product_component.max_select %></dd>
</div>
