<td><%= model.title %></td>
<td><%= model.tag_str %></td>
<td>
<% if model.amount > 0 %>
  <span class="has-text-success"><%= model.amount.to_human %></span>
<% elsif model.amount < 0 %>
  <span class="has-text-danger"><%= model.amount.to_human %></span>
<% else %>
  <span class="has-text-grey"><%= model.amount.to_human %></span>
<% end %>
</td>
<td><%= model.stock.to_human %></td>
<td>
  <p><%= model.source_type %></p>
  <p><%= model.source_id %></p>
</td>
<td><time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time></td>
