<td>
  <div class="is-several">
    <i class="fa-solid fa-fw fa-bars text-grey is-drawable"></i>
    <%= image_tag model.logo.variant(resize_to_limit: [80, 80]), class: 'image is-32x32' if model.logo.attached? %>
    <%= link_to({ controller: 'productions', product_id: model.id }, aria: { label: t('factory.admin.productions.index.title') }, text: true) do %>
      <span><%= model.name %></span>
      <span class="tag is-light">
        <i class="fa-solid fa-clone"></i>
        <span class="pl-1"><%= model.productions_count %></span>
      </span>
    <% end %>
  </div>
  <p class="text-grey"><%= model.description.truncate(27) %></p>
</td>
<td>
  <p><%= model.brand&.name %></p>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :specialty, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <% model.product_part_taxons.each do |product_part_taxon| %>
    <p>
      <span><%= product_part_taxon.name %></span>
      <span class="text-grey size-7"><%= product_part_taxon.select_str %></span>
    </p>
  <% end %>
  <p>
    <%= link_to({ controller: 'product_part_taxons', product_id: model.id }, aria: { label: t('factory.admin.product_part_taxons.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-tree"></i>
    <% end %>
  </p>
</td>
