<td><%= button_to model.part.name, { controller: 'products', action: 'show', id: model.part_id }, text: true %></td>
<td><%= model.part.name %></td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :default, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <%= button_to({ action: 'destroy', id: model.id }, method: :delete, form: { data: { turbo_confirm: t('.destroy.confirm') } }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-trash text-danger"></i>
    <span class="ml-1"><%= t('.destroy.title') %></span>
  <% end %>
</td>