<th style="width: 1.25em"></th>
<th>
  <span><%= Factory::Product.human_attribute_name(:name) %></span>
  <%= link_to({ controller: 'com/panel/blob_defaults', action: 'add', record_class: 'Product', name: 'logo' }, data: { turbo_frame: 'modal' }, aria: { label: '默认图片' }) do %>
    <i class="fa-solid fa-cog"></i>
  <% end %>
</th>
<th><%= Factory::Product.human_attribute_name(:description) %></th>
<th>
  <p><%= Factory::Product.human_attribute_name(:brand_id) %></p>
  <p><%= Factory::Product.human_attribute_name(:serial_id) %></p>
</th>
<th></th>
<th></th>
<th><%= Factory::Product.human_attribute_name(:productions_count) %></th>
