<td>
  <div class="is-several">
    <%= image_tag model.logo.url, class: 'image is-32x32' if model.logo.attached? %>
    <%= link_to({ controller: 'productions', product_id: model.id }, text: true) do %>
      <span><%= model.name %></span>
    <% end %>
  </div>
</td>
<td>
<% model.productions.each do |production| %>
  <p><%= production.name %></p>
<% end %>
</td>
<td>
<% model.productions.each do |production| %>
  <p><%= production.stock %></p>
<% end %>
</td>
<td>
  <p><%= model.product_taxon.name %></p>
</td>
<td>
  <% model.product_part_taxons.each do |product_part_taxon| %>
    <p>
      <span><%= product_part_taxon.name %></span>
      <span class="has-text-grey size-7"><%= product_part_taxon.select_str %></span>
    </p>
  <% end %>
  <p>
    <%= link_to({ controller: 'product_part_taxons', product_id: model.id }, aria: { label: t('factory.admin.product_part_taxons.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-tree"></i>
    <% end %>
  </p>
</td>
<td>
  <%= link_to({ controller: 'fits', product_id: model.id }, class: 'button is-small is-rounded is-light') do %>
    <span class="pl-1"><%= model.fits_count %></span>
  <% end %>
</td>
