<th><%= Factory::Product.human_attribute_name(:taxon_id) %></th>
<th>
  <p><%= Factory::Product.human_attribute_name(:name) %></p>
</th>
<th><%= Factory::Production.human_attribute_name(:name) %></th>
<th><%= Factory::Production.human_attribute_name(:stock) %></th>
<th><%= Factory::Production.human_attribute_name(:price) %></th>
<th></th>
<th></th>
