<div data-id="<%= component.id %>" class="box">
  <strong>
    <span><%= component.name %></span>
    <span class="size-7"><%= component.select_str %></span>
  </strong>
  <div data-controller="custom" class="buttons are-small no-disabled pt-4">
  <% if component.multiple %>
    <%= render partial: 'component_part_number', collection: component_parts, as: :component_part, locals: { component: component } %>
  <% else %>
    <%= render partial: 'component_part', collection: component_parts, as: :component_part, locals: { component: component } %>
  <% end %>
  </div>
</div>
