<div data-id="<%= component.id %>" class="box mt-3">
  <strong>
    <span><%= component.name %></span>
    <span class="size-7"><%= component.select_str %></span>
  </strong>
  <div data-controller="custom" data-custom-only-value="<%= component.only_one? %>" class="buttons are-small no-disabled pt-4">
    <%= render partial: 'component_part', collection: component_parts, as: :component_part, locals: { component: component } %>
  </div>
</div>
