<div class="weui-media-box weui-media-box_appmsg" data-controller="common" id="production_<%= model.id %>">
  <%= link_to({ controller: '/factory/productions', action: 'dialog', id: model.id }, text: true, data: { controller: 'empty', method: 'put', action: 'common#link' }, class: 'weui-media-box__hd as-logo') do %>
    <%= image_tag model.product.logo, class: 'weui-media-box__thumb' if model.product.logo.attached? %>
  <% end %>
  <div class="weui-media-box__bd is-flex is-flex-direction-column">
    <%= link_to({ controller: '/factory/productions', action: 'show', id: model.id }, text: true, class: 'weui-media-box__title') do %>
      <%= model.name %>
    <% end %>
    <p class="weui-media-box__desc pt-0">
      <%= model.product.description %>
    </p>
    <ul class="weui-media-box__info is-flex-wrap-wrap mt-0">
      <% model.parts.group_by(&->(i){ i.product_taxon_id }).each do |_, parts| %>
        <% parts.each_with_index do |part, index| %>
          <li><%= part.name %></li>
        <% end %>
      <% end %>
    </ul>
    <div class="is-flex is-align-items-center">
      <span class="has-text-danger"><%= model.price.to_money.format.html_safe %></span>
      <% @card_templates.select(&->(i){ model.card_price.keys.include?(i.code) }).each do |card_template| %>
        <div class="tags has-addons is-price control m-0 ml-2" style="display: inline-flex">
          <% if current_cart && current_cart.cards.map(&->(i){ i.card_template.code }).include?(card_template.code) %>
            <div class="tag is-danger">
              <i class="fa-solid fa-badge-check"></i>
              <span style="padding-left: 1px"><%= card_template.code %></span>
            </div>
          <% else %>
            <div class="tag is-success"><%= card_template.code %></div>
          <% end %>
          <div class="tag is-light"><%= model.card_price.fetch(card_template.code, model.price).to_money.format.html_safe %></div>
        </div>
      <% end %>
    </div>
    <div class="is-flex is-justify-content-flex-end pt-2">
      <%= render partial: 'cart', locals: { model: model } %>
    </div>
  </div>
</div>
