<div class="box as-bar">
  <% if current_state %>
    <%= link_to(current_state.referer, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end %>
  <% else %>
  <% end %>
  <div class="weui-title flex-direction-column">
    <div>
      <span class="text-weight-semibold"><%= params[:produce_on] %></span>
      <span><%= params[:produce_on].to_date.to_fs(:week) if params[:produce_on].present? %></span>
    </div>
    <div>
      <span class="text-weight-semibold"><%= @scene&.title %></span>
    </div>
  </div>
  <i class="px-5"></i>
  <%= render 'space_dispatch' %>
</div>
