<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit__product_taxon_path(@product_taxon), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right"><%= ProductTaxon.human_attribute_name(:name) %></td>
      <td><%= @product_taxon.name %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= ProductTaxon.human_attribute_name(:logo) %></td>
      <td><%= @product_taxon.logo %></td>
    </tr>
  </tbody>
</table>
