<%= form_with theme: 'modal', model: @taxon_component, url: { action: 'update' }, data: { controller: 'equal' } do |f| %>
  <header class="modal-card-head">
    <p class="modal-card-title"><%= t('.title') %></p>
    <button type="button" data-action="modal#close" class="delete"></button>
  </header>
  <section class="modal-card-body">
    <%= render 'error_messages', target: f.object %>
    <%= f.text_field :name %>
    <%= f.collection_select :part_taxon_id, @part_taxons, :id, :name %>
    <%= f.number_field :min_select, step: 1, data: { action: 'equal#update' } %>
    <%= f.number_field :max_select, step: 1, data: { equal_target: 'goal' } %>
  </section>
  <%= f.submit %>
<% end %>
