<tr>
  <td class="has-text-right"><%= Factory::ProductPartTaxon.human_attribute_name(:name) %></td>
  <td><%= @product_part_taxon.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Factory::ProductPartTaxon.human_attribute_name(:min_select) %></td>
  <td><%= @product_part_taxon.min_select %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Factory::ProductPartTaxon.human_attribute_name(:max_select) %></td>
  <td><%= @product_part_taxon.max_select %></td>
</tr>
