<%= button_to({ action: 'actions', scene_id: model.scene_id, produce_on: model.produce_on }, form: { class: 'column is-half-mobile color-grey' }, class: 'column_box py-3', disabled: model.expired?) do %>
  <p class="size-7 has-text-centered">
    <span>预定截止：</span>
    <span><%= extra_distance_date(model.produce_on) %></span>
    <time><%= model.scene.book_finish_at.to_fs(:time) %></time>
  </p>
  <p class="size-7 has-text-centered">
    <span>配送时间：</span>
    <time><%= model.scene.deliver_start_at.to_fs(:time) %></time>
    <span>~</span>
    <time><%= model.scene.deliver_finish_at.to_fs(:time) %></time>
  </p>
  <div class="has-text-centered pt-2">
    <div class="is-several">
      <span class="icon">
        <%= image_tag model.scene.logo, class: 'image is-32x32' if model.scene.logo.attached? %>
      </span>
      <span><%= model.scene.title %></span>
    </div>
  </div>
<% end %>
