<%= render 'top_bar' %>
<%= render 'filter_form' %>

<div class="weui-menu">
  <%= render 'menu' unless @produce_plan %>
  <div
    data-controller="page"
    data-page-debug-value="true"
    data-action="touchmove->page#move:passive"
    class="weui-menu-content"
  >
    <div class="weui-panel__bd is-flex flex-direction-column flex-grow-1" style="height: 100%">
      <%= render partial: 'production', collection: @productions, as: :model, locals: { item_con: 'trade/mem/items' } %>
      <%= render 'loading' %>
      <% if @productions.total_pages == @productions.current_page %>
        <%= render 'no_more' %>
      <% elsif @productions.blank? %>
        <%= render 'blank' %>
      <% else %>
        <%= render 'tip' %>
      <% end %>
    </div>

    <%= render 'paginator' %>
  </div>
</div>
<%= render 'taxon' if params[:produce_on] && params[:scene_id] %>
