<div class="ui segment breadcrumb">
  <%= link_to '返回', admin_facilitates_path, class: 'section' %>
  <div class="divider">/</div>
  <%= link_to @facilitate.name, admin_facilitate_path(@facilitate), class: 'section' %>
  <div class="divider">/</div>
  <div class="active section">编辑</div>
</div>

<div class="ui top attached menu borderless">
  <div class="item"><strong>供应商管理</strong></div>
</div>

<table class="ui bottom attached table">
  <thead>
  <tr>
    <th>ID</th>
    <th>供应商</th>
    <th>供应价格</th>
    <th>验证</th>
    <th>默认供应商</th>
    <th>Created At</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @facilitate_providers.each do |facilitate_provider| %>
    <tr>
      <td><%= facilitate_provider.id %></td>
      <td><%= facilitate_provider.provider.name %></td>
      <td><%= facilitate_provider.export_price %></td>
      <td>
        <%= form_tag verify_admin_facilitate_provider_path(facilitate_provider.id), method: :patch do %>
          <span class="ui toggle checkbox">
            <label></label>
            <%= check_box_tag :verified, 1, facilitate_provider.verified, onChange: 'this.form.submit()' %>
          </span>
        <% end %>
      </td>
      <td>
        <%= form_tag select_admin_facilitate_provider_path(facilitate_provider.id), method: :patch do %>
          <span class="<%= active_assert(facilitate_provider.selected, expected: 'ui toggle disabled checkbox', unexpected: 'ui toggle checkbox') %>">
            <label></label>
            <%= check_box_tag :selected, nil, facilitate_provider.selected, onChange: 'this.form.submit()' %>
          </span>
        <% end %>
      </td>
      <td><time><%= facilitate_provider.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to '删除', admin_facilitate_provider_path(facilitate_provider), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @facilitate_providers %>
