<div class="weui-media-box weui-media-box_appmsg">
  <div class="weui-media-box__bd">
    <div class="is-flex is-justify-content-center">
      <%= image_tag scene.logo, class: 'image is-32x32' if scene.logo.attached? %>
      <span><%= scene.title %></span>
    </div>
    <p class="is-size-7 has-text-centered">
      <span>预定时间：</span>
      <span>
        <span><%= scene.book_start_at.to_fs(:time) %></span>
        <time><%= scene.book_finish_at.to_fs(:time) %></time>
      </span>
    </p>
    <p class="is-size-7 has-text-centered">
      <span>配送时间：</span>
      <time><%= scene.deliver_start_at.to_fs(:time) %></time>
      <span>~</span>
      <time><%= scene.deliver_finish_at.to_fs(:time) %></time>
    </p>
  </div>
  <div class="weui-media-box__ft pr-4">
    <%= link_to({ controller: 'scenes', action: 'show', id: scene.id }, class: 'button is-large is-info') do %>
      <span>选择日期</span>
    <% end %>
  </div>
</div>
