<%= form_with theme: nil, model: @production_item, url: { action: 'create' } do |f| %>
  <%= f.hidden_field :qr_code %>
  <%= f.submit '新增', class: 'button is-info' %>
<% end %>
<%= form_with theme: nil, scope: '', model: @production_item, url: { action: 'batch_new' } do |f| %>
  <%= f.submit '批量新增', class: 'button is-info' %>
<% end %>
<%= button_to({ action: 'new' }, class: 'button is-primary') do %>
  <span><%= t('.new.title') %></span>
<% end %>
