<tr id="tr_<%= model.id %>" data-controller="tree-remote show" data-tree-remote-target="item" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div>
      <%= link_to({ controller: 'production_plans', product_id: model.product_id, production_id: model.id }, aria: { label: t('factory.admin.production_plans.index.title') }, class: 'button is-small is-success') do %>
        <i class="fa-solid fa-flash"></i>
      <% end %>
      <%= link_to({ controller: 'productions', product_id: model.id }, aria: { label: t('factory.admin.productions.index.title') }, data: { turbo_frame: '_top' }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-clone"></i>
      <% end %>
      <%= link_to({ controller: 'products', action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-circle-info"></i>
      <% end %>
    </div>
  </td>
</tr>

<% if params[:product_id] == model.id.to_s %>
  <%= render partial: 'production', collection: model.productions, as: :model %>
<% end %>
