<div>
  <dt><%= Factory::StockLog.human_attribute_name(:title) %></dt>
  <dd><%= @stock_log.title %></dd>
</div>
<div>
  <dt><%= Factory::StockLog.human_attribute_name(:amount) %></dt>
  <dd><%= @stock_log.amount.to_human %></dd>
</div>
<div>
  <dt><%= Factory::StockLog.human_attribute_name(:source_type) %></dt>
  <dd><%= @stock_log.source_type %></dd>
</div>
<div>
  <dt><%= Factory::StockLog.human_attribute_name(:source_id) %></dt>
  <dd><%= @stock_log.source_id %></dd>
</div>
