<tr>
  <td class="has-text-right"><%= Factory::StockLog.human_attribute_name(:title) %></td>
  <td><%= @stock_log.title %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Factory::StockLog.human_attribute_name(:amount) %></td>
  <td><%= @stock_log.amount.to_human %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Factory::StockLog.human_attribute_name(:source_type) %></td>
  <td><%= @stock_log.source_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Factory::StockLog.human_attribute_name(:source_id) %></td>
  <td><%= @stock_log.source_id %></td>
</tr>
