<tr>
  <td class="has-text-right"><%= Trade::Item.human_attribute_name(:number) %></td>
  <td><%= @item.number %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Item.human_attribute_name(:amount) %></td>
  <td><%= @item.amount %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Item.human_attribute_name(:note) %></td>
  <td><%= @item.note %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Item.human_attribute_name(:extra) %></td>
  <td><%= @item.extra %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Trade::Item.human_attribute_name(:purchase_status) %></td>
  <td><%= @item.purchase_status_i18n %></td>
</tr>
