<th><%= Factory::ProducePlan.human_attribute_name(:produce_on) %></th>
<th>
  <p class="text-grey"><%= Factory::ProducePlan.human_attribute_name(:book_start_at) %></p>
  <p><%= Factory::ProducePlan.human_attribute_name(:book_finish_at) %></p>
</th>
<th><%= Factory::ProducePlan.human_attribute_name(:created_at) %></th>
<th><%= Factory::ProducePlan.human_attribute_name(:state) %></th>
<th><%= Factory::ProducePlan.human_attribute_name(:production_plans_count) %></th>
