<td><%= model.produce_on %></td>
<td>
  <p class="color-grey"><time data-controller="time"><%= model.book_start_at.to_fs(:iso8601) %></time></p>
  <p><time data-controller="time"><%= model.book_finish_at.to_fs(:iso8601) %></time></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
<td><%= model.state %></td>
<td><%= model.production_plans_count %></td>
