<td><%= model.provide.name %></td>
<td>
<% if model.provide.provider %>
  <%= model.provide.provider.name %>
<% end %>
</td>
<td><%= model.cost_price %></td>
<td><%= model.provide_config_type_i18n %></td>
<th>
  <%= form_with theme: nil, model: model, url: { controller: 'production_provides', action: 'update', provide_id: model.provide_id, id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :default, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</th>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
