<tr>
  <td><%= Factory::Brand.human_attribute_name(:name) %></td>
  <td><%= @brand.name %></td>
</tr>
<tr>
  <td><%= Factory::Brand.human_attribute_name(:products_count) %></td>
  <td><%= @brand.products_count %></td>
</tr>
<tr>
  <td><%= Factory::Brand.human_attribute_name(:organ_id) %></td>
  <td><%= @brand.organ_id %></td>
</tr>
