<div>
  <dt><%= Factory::Brand.human_attribute_name(:name) %></dt>
  <dd><%= @brand.name %></dd>
</div>
<div>
  <dt><%= Factory::Brand.human_attribute_name(:products_count) %></dt>
  <dd><%= @brand.products_count %></dd>
</div>
<div>
  <dt><%= Factory::Brand.human_attribute_name(:organ_id) %></dt>
  <dd><%= @brand.organ_id %></dd>
</div>
