<div>
  <dt><%= Address.human_attribute_name(:area) %></dt>
  <dd><%= @address.area %></dd>
</div>
<div>
  <dt><%= Address.human_attribute_name(:detail) %></dt>
  <dd><%= @address.detail %></dd>
</div>
<div>
  <dt><%= Address.human_attribute_name(:contact) %></dt>
  <dd><%= @address.contact %></dd>
</div>
<div>
  <dt><%= Address.human_attribute_name(:tel) %></dt>
  <dd><%= @address.tel %></dd>
</div>
<div>
  <dt><%= Address.human_attribute_name(:post_code) %></dt>
  <dd><%= @address.post_code %></dd>
</div>
<div>
  <dt><%= Address.human_attribute_name(:source) %></dt>
  <dd><%= @address.source %></dd>
</div>
