<tr>
  <td class="has-text-right"><%= PartItem.human_attribute_name(:part_id) %></td>
  <td><%= @part_item.part_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= PartItem.human_attribute_name(:qr_code) %></td>
  <td><%= @part_item.qr_code %></td>
</tr>
<tr>
  <td class="has-text-right"><%= PartItem.human_attribute_name(:qr_file) %></td>
  <td><%= @part_item.qr_file %></td>
</tr>
