<div class="ui top attached borderless menu">
  <div class="header item">Admin Part Items</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Admin Part Item', new_admin_part_item_path, class: 'ui teal button' %>
    </div>
  </div>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= PartItem.human_attribute_name(:id) %></th>
      <th><%= PartItem.human_attribute_name(:part_id) %></th>
      <th><%= PartItem.human_attribute_name(:qr_code) %></th>
      <th><%= PartItem.human_attribute_name(:qr_file) %></th>
      <th><%= PartItem.human_attribute_name(:received_at) %></th>
      <th><%= PartItem.human_attribute_name(:state) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @part_items.each do |part_item| %>
    <tr>
      <td><%= part_item.id %></td>
      <td><%= part_item.part_id %></td>
      <td><%= part_item.qr_code %></td>
      <td>
        <% if part_item.qr_file.attached? %>
          <%= image_tag part_item.qr_file.variant(resize: '100x100'), class: 'ui image' %>
        <% end %>
      </td>
      <td><%= part_item.received_at %></td>
      <td><%= part_item.state_i18n %></td>
      <td class="ui labels">
        <%= link_to admin_part_item_path(@part, part_item), class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_admin_part_item_path(@part, part_item), class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to admin_part_item_path(@part, part_item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @part_items %>
