<div data-controller="empty" class="box is-padding-less mx-3">
  <div class="box-header">
    <div>
      <span class="size-7 has-border-left-primary"><%= t('factory.admin.title') %></span>
    </div>
    <%= link_to({ controller: '/factory/productions' }, state: 'enter', class: 'size-7') do %>
      <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
      <span>预览商店</span>
    <% end %>
  </div>
  <div class="columns is-4-mobile flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
    <%= link_to({ controller: 'factory/admin/product_taxons' }, class: 'column has-column-centered') do %>
      <div class="has-text-primary">
        <i class="fa-solid fa-fw fa-xl fa-folder-tree"></i>
      </div>
      <div class="color-grey size-7 mt-1"><%= t('factory.admin.product_taxons.index.title') %></div>
    <% end %>
    <%= link_to({ controller: 'factory/admin/scenes' }, class: 'column has-column-centered') do %>
      <div class="has-text-primary">
        <i class="fa-solid fa-fw fa-xl fa-lightbulb"></i>
      </div>
      <div class="color-grey size-7 mt-1"><%= t('factory.admin.scenes.index.title') %></div>
    <% end %>
    <%= link_to({ controller: 'factory/admin/brands' }, class: 'column has-column-centered') do %>
      <div class="has-text-primary">
        <i class="fa-solid fa-fw fa-xl fa-copyright"></i>
      </div>
      <div class="color-grey size-7 mt-1"><%= t('factory.admin.brands.index.title') %></div>
    <% end %>
  </div>
</div>
