<th><%= Factory::ProductTaxon.human_attribute_name(:factory_taxon_id) %></th>
<th><%= Factory::ProductTaxon.human_attribute_name(:name) %></th>
<th><%= Factory::ProductTaxon.human_attribute_name(:scene_id) %></th>
<th><%= Factory::ProductTaxon.human_attribute_name(:products_count) %></th>
<th colspan="2"></th>
<th>
  <p><%= Factory::ProductTaxon.human_attribute_name(:enabled) %></p>
  <p><%= Factory::ProductTaxon.human_attribute_name(:nav) %></p>
</th>
<th><%= Factory::ProductTaxon.human_attribute_name(:partial) %></th>
