<% if @product_taxons.keys.compact.size > 0 %>
  <th><%= Factory::ProductTaxon.human_attribute_name(:factory_taxon_id) %></th>
<% end %>
<th>
  <p><%= Factory::ProductTaxon.human_attribute_name(:name) %></p>
  <% if @scenes.present? %>
    <p><%= Factory::ProductTaxon.human_attribute_name(:scene_id) %></p>
  <% end %>
</th>
<th>
  <p><%= Factory::ProductTaxon.human_attribute_name(:products_count) %></p>
  <p>已上架</p>
</th>
<th><%= Factory::ProductTaxon.human_attribute_name(:provides_count) %></th>
<th><%= Factory::ProductTaxon.human_attribute_name(:enabled) %></th>
