<th><%= Factory::ProductTaxon.human_attribute_name(:factory_taxon_id) %></th>
<th>
  <p><%= Factory::ProductTaxon.human_attribute_name(:name) %></p>
  <p><%= Factory::ProductTaxon.human_attribute_name(:scene_id) %></p>
</th>
<th><%= Factory::ProductTaxon.human_attribute_name(:products_count) %></th>
<th><%= Factory::ProductTaxon.human_attribute_name(:provides_count) %></th>
<th><%= Factory::ProductTaxon.human_attribute_name(:enabled) %></th>
<th><%= Factory::ProductTaxon.human_attribute_name(:partial) %></th>
