<td>
  <div class="is-several pl-4">
    <span><%= model.name %></span>
    <span class="color-danger pl-1"><%= model.price.to_money.format.html_safe %></span>
  </div>
</td>
<td>
  <table class="table is-borderless">
  <% model.parts.each do |part| %>
    <tr>
      <td><span class="tag"><%= link_to part.name, { controller: 'products', action: 'show', product_taxon_id: part.product_taxon_id, id: part.id } %></span></td>
      <td><%= part.price %></td>
    </tr>
  <% end %>
  </table>
</td>
<td>
<% if @imported_production_ids.include?(model.id) %>
  <i class="fa-solid fa-check color-success"></i>
  <%= button_to({ action: 'prune' }, method: :delete, params: { production_id: model.id }, aria: { label: t('factory.in.product_taxons.prune.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-times color-danger"></i>
  <% end %>
<% else %>
  <%= button_to({ action: 'copy' }, params: { production_id: model.id }, aria: { label: t('factory.in.product_taxons.copy.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-tractor color-success"></i>
  <% end %>
<% end %>
</td>
