<%= form_with theme: 'search', model: Factory::ProductItem.new do |f| %>
  <div class="fields">
    <%= f.date_field 'produced_at-gte' %>
    <%= f.date_field 'produced_at-lte' %>
    <%= f.submit 'Search' %>
    <%= link_to 'Clear Filter', admin_product_items_path(@product), class: 'ui button' %>
  </div>
<% end %>


