<tr>
  <td><%= product_item.id %></td>
  <td><%= product_item.qr_code %></td>
  <td>
    <% if product_item.qr_file.attached? %>
      <%= image_tag product_item.qr_file.variant(resize: '100x100'), class: 'ui image' %>
    <% end %>
  </td>
  <td><%= product_item.state_i18n %></td>
  <td><time data-controller="time"><%= product_item.produced_at.to_s(:rfc822) %></time></td>
  <td class="ui labels">
    <%= link_to admin_product_item_path(@product, product_item), class: 'ui blue mini icon button' do %>
      <i class="location arrow icon"></i>
    <% end %>
    <%= link_to edit_admin_product_item_path(@product, product_item), class: 'ui pink mini icon button' do %>
      <i class="pencil alternate icon"></i>
    <% end %>
    <%= link_to admin_product_item_path(@product, product_item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
      <i class="times icon"></i>
    <% end %>
  </td>
</tr>
