<td><%= model.member.name %></td>
<td>
  <p class="has-text-primary"><%= model.organ.name %></p>
  <p><%= model.good.name %></p>
</td>
<td><%= model.number %></td>
<td><%= model.amount %></td>
<td><%= model.note %></td>
<td><%= model.extra %></td>
<td><%= model.status_i18n %></td>
