<td>
  <%= link_to model.name, { action: 'show', id: model.id }, text: true %>
  <%= link_to({ controller: 'productions', product_id: model.id }, aria: { label: t('factory.admin.productions.index.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-light fa-clone"></i><span><%= model.productions_count %></span>
  <% end %>
</td>
<td>
  <%= image_tag model.logo.variant(resize_to_limit: [80, 80]), class: 'image is-64x64' if model.logo.attached? %>
  <span class="tag"><%= model.covers_attachments.size %></span>
</td>
<td><%= model.profit_margin_str %></td>
<td>
  <p><%= model.min_price.to_money.format(html_wrap: true).html_safe %></p>
  <p><%= model.max_price.to_money.format(html_wrap: true).html_safe %></p>
</td>
<td>
  <% model.product_part_taxons.each do |product_part_taxon| %>
    <p>
      <span><%= product_part_taxon.name %></span>
      <span class="has-text-grey"><%= product_part_taxon.select_range %></span>
    </p>
  <% end %>
  <p>
    <%= link_to({ controller: 'product_part_taxons', product_id: model.id }, aria: { label: t('factory.admin.products.part.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-light fa-tree"></i>
    <% end %>
  </p>
</td>
