<th>
  <p><%= Factory::Product.human_attribute_name(:name) %></p>
  <p><%= Factory::Product.human_attribute_name(:description) %></p>
</th>
<th><%= Factory::Production.human_attribute_name(:name) %></th>
<th><%= Factory::Production.human_attribute_name(:stock) %></th>
<th><%= Factory::Product.human_attribute_name(:product_taxon_id) %></th>
<th></th>
<th></th>
