<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('factory.admin.products.index.title'), { controller: 'products' } %></li>
    <li>
      <%= link_to({ controller: 'product_taxons', id: @product_taxon.factory_taxon_id }) do %>
        <span><%= @product_taxon.name %></span>
        <span class="has-text-grey">（<%= @product_taxon.factory_taxon.name %>）</span>
      <% end %>
    </li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
