<td>
  <p><%= model.name %></p>
  <p><span class="tag"><%= model.part_taxon.name %></span></p>
</td>
<td>
  <p><%= model.min_select %></p>
  <p><%= model.max_select %></p>
</td>
<td class="color-grey"><%= model.select_str %></td>
<td><%= model.product_parts_count %></td>
<td>
  <%= render partial: 'part_form', locals: { product_part_taxon: model } %>
</td>
