<th><%= Factory::ProductPartTaxon.human_attribute_name(:name) %></th>
<th>
  <p><%= Factory::ProductPartTaxon.human_attribute_name(:min_select) %></p>
  <p><%= Factory::ProductPartTaxon.human_attribute_name(:max_select) %></p>
</th>
<th><%= Factory::ProductPartTaxon.human_attribute_name(:select_str) %></th>
<th><%= Factory::ProductPartTaxon.human_attribute_name(:product_parts_count) %></th>
<th style="width: 30%"></th>
<th></th>