<%= form_with theme: 'modal', model: @product, scope: :product, url: { action: 'update' } do |f| %>
  <header class="modal-card-head">
    <p class="modal-card-title"><%= t('.title') %></p>
    <button type="button" data-action="modal#close" class="delete"></button>
  </header>
  <section class="modal-card-body">
    <%= render 'error_messages', target: f.object %>
    <%= f.collection_select :product_taxon_id, @product_taxons, :id, :name %>
    <%= render partial: 'form', locals: { f: f } %>
  </section>
  <footer class="modal-card-foot">
    <%= f.submit %>
  </footer>
<% end %>
