<td><%= link_to model.name, { action: 'show', id: model.id }, text: true %></td>
<td><%= image_tag model.logo.variant(resize_to_limit: [80, 80]), class: 'image is-64x64' if model.logo.attached? %></td>
<td>
  <%= render 'com/attachments/list_many', target: model.covers %>
</td>
<td><%= model.qr_prefix %></td>
<td><%= model.profit_margin_str %></td>
<td>
  <p><%= model.min_price.to_money.format(html_wrap: true).html_safe %></p>
  <p><%= model.max_price.to_money.format(html_wrap: true).html_safe %></p>
</td>
<td>
  <%= link_to({ controller: 'product_part_taxons', product_id: model.id }, aria: { label: t('factory.admin.products.part.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-light fa-tree"></i>
  <% end %>
  <%= link_to({ controller: 'product_parts', product_id: model.id }, aria: { label: t('factory.admin.products.part.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-light fa-cube"></i>
  <% end %>
  <%= link_to({ controller: 'productions', product_id: model.id }, aria: { label: t('factory.admin.productions.index.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-light fa-clone"></i><span><%= model.productions_count %></span>
  <% end %>
  <%= link_to t('factory.admin.product_plans.index.title'), { controller: 'product_plans', product_id: model.id }, class: 'button is-small is-success' %>
</td>
