<th>
  <%= Factory::Product.human_attribute_name(:product_taxon_id) %>
  <%= link_to({ controller: 'product_taxons' }, aria: { label: '分类设置' }) do %>
    <i class="fas fa-cog"></i>
  <% end %>
</th>
<th><%= Factory::Product.human_attribute_name(:name) %></th>
<th>
  <%= Factory::Product.human_attribute_name(:logo) %>
  <%= link_to({ controller: 'com/panel/blob_defaults', action: 'add', record_class: 'Product', name: 'logo' }, data: { turbo_frame: 'modal' }, aria: { label: '默认图片' }) do %>
    <i class="fas fa-cog"></i>
  <% end %>
</th>
<th><%= Factory::Product.human_attribute_name(:covers) %></th>
<th><%= Factory::Product.human_attribute_name(:qr_prefix) %></th>
<th><%= Factory::Product.human_attribute_name(:profit_margin) %></th>
<th>
  <p><%= Factory::Product.human_attribute_name(:min_price) %></p>
  <p><%= Factory::Product.human_attribute_name(:max_price) %></p>
</th>
<th colspan="2"></th>
