<div>
  <dt><%= Factory::Product.human_attribute_name(:name) %></dt>
  <dd><%= @product.name %></dd>
</div>
<div>
  <dt><%= Factory::Product.human_attribute_name(:logo) %></dt>
  <dd><%= image_tag @product.logo, class: 'image is-64x64' if @product.logo.attached? %></dd>
</div>
<div>
  <dt><%= Factory::Product.human_attribute_name(:qr_prefix) %></dt>
  <dd><%= @product.qr_prefix %></dd>
</div>
<div>
  <dt><%= Factory::Product.human_attribute_name(:description) %></dt>
  <dd><%= simple_format @product.description %></dd>
</div>
<div>
  <dt><%= Factory::Product.human_attribute_name(:covers) %></dt>
  <dd>
    <div class="flex">
      <%= render 'com/attachments/list', target: @product.covers %>
    </div>
  </dd>
</div>
<div>
  <dt><%= Factory::Product.human_attribute_name(:images) %></dt>
  <dd>
    <div class="flex">
    <% @product.images.each do |image| %>
      <%= image_tag image, class: 'image is-128x128 mr-4' %>
    <% end %>
    </div>
  </dd>
</div>
