<%= render 'menu' %>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= Product.human_attribute_name(:name) %></th>
      <th><%= Product.human_attribute_name(:logo) %></th>
      <th><%= Product.human_attribute_name(:main_image) %></th>
      <th><%= Product.human_attribute_name(:qr_prefix) %></th>
      <th><%= Product.human_attribute_name(:reference_price) %></th>
      <th><%= Product.human_attribute_name(:parts) %></th>
      <th></th>
      <th>
        <%= link_to 'New Admin Product', new_admin_product_path, class: 'ui teal button' %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= image_tag product.logo, class: 'ui small image' if product.logo.attached? %></td>
      <td><%= image_tag product.main_image, class: 'ui small image' if product.main_image.attached? %></td>
      <td><%= product.qr_prefix %></td>
      <td><%= product.price %></td>
      <td class="ui labels">
        <table class="ui very basic compact table">
          <% product.parts.each do |part| %>
            <tr>
              <td><span class="ui label"><%= link_to part.name, admin_part_path(part), target: '_blank' %></span></td>
              <td><%= part.price %></td>
            </tr>
          <% end %>
        </table>
      </td>
      <td>
        <%= link_to 'Plan', admin_product_plans_path(product), class: 'ui blue label' %>
      </td>
      <td class="ui labels">
        <%= link_to admin_product_path(product), class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_admin_product_path(product), class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @products %>
