<%= render layout: 'index_table', locals: { cache_key: Factory::Product.column_names.hash } do %>
  <% @products.group_by(&:product_taxon).each do |taxon, products| %>
    <tr>
      <td rowspan="<%= taxon&.products_count.to_i + 1 %>"><%= taxon&.name %></td>
    </tr>
    <%= render partial: 'index_tbody', layout: 'index_tr', collection: products, as: :model %>
  <% end %>
<% end %>

<%= paginate @products %>
