<dl class="as-show is-boxed">
  <div>
    <dt><%= Factory::ProductionItem.human_attribute_name(:name) %></dt>
    <dd><%= @production_item.production.name %></dd>
  </div>
  <div>
    <dt><%= Factory::ProductionItem.human_attribute_name(:code) %></dt>
    <dd><%= @production_item.code %></dd>
  </div>
  <div>
    <dt><%= Factory::ProductionItem.human_attribute_name(:came_at) %></dt>
    <dd><time data-controller="time"><%= @production_item.came_at&.to_fs(:iso8601) %></time></dd>
  </div>
  <div>
    <dt><%= Factory::ProductionItem.human_attribute_name(:room_id) %></dt>
    <dd>
      <span><%= @production_item.room&.code %></span>
      <span class="text-grey">(<%= @production_item.room_id %>)</span>
    </dd>
  </div>
  <div>
    <dt><%= Factory::ProductionItem.human_attribute_name(:grid_id) %></dt>
    <dd>
      <span><%= @production_item.grid&.code %></span>
      <span class="text-grey">(<%= @production_item.grid_id %>)</span>
    </dd>
  </div>
  <div>
    <dt><%= Factory::ProductionItem.human_attribute_name(:state) %></dt>
    <dd><%= @production_item.state_i18n %></dd>
  </div>
</dl>
