<td><%= model.number %></td>
<td><%= model.amount.to_money.format.html_safe %></td>
<td><%= model.note %></td>
<td><%= model.extra %></td>
<td><%= model.status_i18n %></td>
<td>
  <p><%= model.user.name %></p>
</td>
