<%= button_to({ action: 'edit', id: model.id }, class: 'cell has-column-centered') do %>
  <i class="fa-solid fa-pencil"></i>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= link_to({ controller: 'production_plans', production_id: model.id }, class: 'cell has-column-centered') do %>
  <i class="fa-solid fa-clock"></i>
  <span><%= t('.production_plans.index.title') %></span>
<% end %>
<%= link_to({ controller: 'production_items', production_id: model.id }, class: 'cell has-column-centered') do %>
  <i class="fa-solid fa-list"></i>
  <span><%= t('.production_items.index.title') %></span>
<% end %>
<% if model.default %>
  <%= button_to({ action: 'update', id: model.id }, method: :patch, params: { 'production[default]': false }, class: 'text-danger has-column-centered', form: { class: 'cell' }) do %>
    <i class="fa-solid fa-times"></i>
    <span>主显产品</span>
  <% end %>
<% else %>
  <%= button_to({ action: 'update', id: model.id }, method: :patch, params: { 'production[default]': true }, class: 'text-success has-column-centered', form: { class: 'cell' }) do %>
    <i class="fa-solid fa-check"></i>
    <span>主显产品</span>
  <% end %>
<% end %>
<% if model.enabled %>
  <%= button_to({ action: 'update', id: model.id }, method: :patch, params: { 'production[enabled]': false }, class: 'text-danger has-column-centered', form: { class: 'cell' }) do %>
    <i class="fa-solid fa-times"></i>
    <span>下架</span>
  <% end %>
<% else %>
  <%= button_to({ action: 'update', id: model.id }, method: :patch, params: { 'production[enabled]': true }, class: 'text-success has-column-centered', form: { class: 'cell' }) do %>
    <i class="fa-solid fa-check"></i>
    <span>上架</span>
  <% end %>
<% end %>
