<div class="field is-horizontal">
  <%= f.label :name %>
  <div class="field-body">
    <div class="field has-addons">
      <div class="control"><div class="button is-static"><%= @product.name %></div></div>
      <%= f.text_field :name, label: nil, all: { normal: nil }, wrap: { input: 'control' } %>
    </div>
  </div>
</div>

<%= f.number_field :cost_price %>
<%= f.number_field :profit_price %>
<%= f.text_field :link %>
<%= f.number_field :stock %>
