<th colspan="2"><%= Factory::Production.human_attribute_name(:name) %></th>
<th><%= Factory::Production.human_attribute_name(:state) %></th>
<th><%= Factory::Production.human_attribute_name(:qr_code) %></th>
<th class="has-text-right">
  <p><%= Factory::Production.human_attribute_name(:cost_price) %></p>
  <p><%= Factory::Production.human_attribute_name(:profit_price) %></p>
</th>
<th><%= Factory::Production.human_attribute_name(:price) %></th>
<th></th>
<th></th>
<th><%= Factory::Production.human_attribute_name(:default) %></th>
<th></th>
