<th><%= Production.human_attribute_name(:product_name) %></th>
<th><%= Production.human_attribute_name(:state) %></th>
<th><%= Production.human_attribute_name(:qr_code) %></th>
<th class="has-text-right">
  <p><%= Production.human_attribute_name(:cost_price) %></p>
  <p><%= Production.human_attribute_name(:profit_price) %></p>
  <p><%= Production.human_attribute_name(:price) %></p>
</th>
<th></th>
<th><%= Production.human_attribute_name(:parts) %></th>
<th></th>
