<div>
  <dt><%= Factory::Production.human_attribute_name(:name) %></dt>
  <dd><%= @production.name %></dd>
</div>
<div>
  <dt><%= Factory::Production.human_attribute_name(:title) %></dt>
  <dd><%= @production.title %></dd>
</div>
<div>
  <dt><%= Factory::Production.human_attribute_name(:state) %></dt>
  <dd><%= @production.state_i18n %></dd>
</div>
<div>
  <dt><%= Factory::Production.human_attribute_name(:qr_code) %></dt>
  <dd><%= @production.qr_code %></dd>
</div>
<div>
  <dt><%= Factory::Production.human_attribute_name(:str_part_ids) %></dt>
  <dd><%= @production.str_part_ids %></dd>
</div>
<div>
  <dt><%= Factory::Production.human_attribute_name(:price) %></dt>
  <dd><%= @production.price.to_money.format.html_safe %></dd>
</div>
<div>
  <dt><%= Factory::Production.human_attribute_name(:card_price) %></dt>
  <dd>
    <div>
    <% @production.card_price.each do |key, value| %>
      <div class="tags has-addons is-tag-price control mb-0">
        <div class="tag is-success"><%= key %></div>
        <div class="tag is-light"><%= value.to_money.format.html_safe %></div>
      </div>
    <% end %>
    </div>
    <%= button_to({ action: 'card' }, data: { turbo_frame: 'modal', show_target: 'item' }, aria: { label: t('.card.title') }) do %>
      <i class="fa-solid fa-pencil fa-sm has-text-grey"></i>
    <% end %>
  </dd>
</div>
<div>
  <dt><%= Factory::Production.human_attribute_name(:wallet_price) %></dt>
  <dd>
    <div>
    <% @production.wallet_price.each do |key, value| %>
      <div class="tags has-addons is-tag-price control mb-0">
        <div class="tag is-success"><%= key %></div>
        <div class="tag is-light"><%= value.to_money.format.html_safe %></div>
      </div>
    <% end %>
    </div>
    <%= button_to({ action: 'wallet' }, data: { turbo_frame: 'modal', show_target: 'item' }, aria: { label: t('.wallet.title') }) do %>
      <i class="fa-solid fa-pencil fa-sm has-text-grey"></i>
    <% end %>
  </dd>
</div>
<div>
  <dt><%= Factory::Production.human_attribute_name(:link) %></dt>
  <dd><%= @production.link %></dd>
</div>
<div>
  <dt><%= Factory::Production.human_attribute_name(:stock) %></dt>
  <dd><%= @production.stock %></dd>
</div>
