<tr>
  <td class="has-text-right"><%= Factory::Production.human_attribute_name(:name) %></td>
  <td><%= @production.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Factory::Production.human_attribute_name(:state) %></td>
  <td><%= @production.state_i18n %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Factory::Production.human_attribute_name(:qr_code) %></td>
  <td><%= @production.qr_code %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Factory::Production.human_attribute_name(:str_part_ids) %></td>
  <td><%= @production.str_part_ids %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Factory::Production.human_attribute_name(:price) %></td>
  <td><%= @production.price.to_money.format.html_safe %></td>
</tr>
