<tr>
  <td class="has-text-right"><%= Custom.human_attribute_name(:name) %></td>
  <td><%= @custom.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Custom.human_attribute_name(:state) %></td>
  <td><%= @custom.state_i18n %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Custom.human_attribute_name(:qr_code) %></td>
  <td><%= @custom.qr_code %></td>
</tr>
