<tr>
  <td><%= Factory::Production.human_attribute_name(:name) %></td>
  <td><%= @production.name %></td>
</tr>
<tr>
  <td><%= Factory::Production.human_attribute_name(:title) %></td>
  <td><%= @production.title %></td>
</tr>
<tr>
  <td><%= Factory::Production.human_attribute_name(:state) %></td>
  <td><%= @production.state_i18n %></td>
</tr>
<tr>
  <td><%= Factory::Production.human_attribute_name(:qr_code) %></td>
  <td><%= @production.qr_code %></td>
</tr>
<tr>
  <td><%= Factory::Production.human_attribute_name(:str_part_ids) %></td>
  <td><%= @production.str_part_ids %></td>
</tr>
<tr>
  <td><%= Factory::Production.human_attribute_name(:price) %></td>
  <td><%= @production.price.to_money.format.html_safe %></td>
</tr>
<tr>
  <td><%= Factory::Production.human_attribute_name(:card_price) %></td>
  <td>
    <div>
    <% @production.card_price.each do |key, value| %>
      <div class="tags has-addons is-tag-price control mb-0">
        <div class="tag is-success"><%= key %></div>
        <div class="tag is-light"><%= value.to_money.format.html_safe %></div>
      </div>
    <% end %>
    </div>
    <%= button_to({ action: 'card' }, data: { turbo_frame: 'modal', show_target: 'item' }, aria: { label: t('.card.title') }) do %>
      <i class="fa-solid fa-pencil fa-sm has-text-grey"></i>
    <% end %>
  </td>
</tr>
<tr>
  <td><%= Factory::Production.human_attribute_name(:wallet_price) %></td>
  <td>
    <div>
    <% @production.wallet_price.each do |key, value| %>
      <div class="tags has-addons is-tag-price control mb-0">
        <div class="tag is-success"><%= key %></div>
        <div class="tag is-light"><%= value.to_money.format.html_safe %></div>
      </div>
    <% end %>
    </div>
    <%= button_to({ action: 'wallet' }, data: { turbo_frame: 'modal', show_target: 'item' }, aria: { label: t('.wallet.title') }) do %>
      <i class="fa-solid fa-pencil fa-sm has-text-grey"></i>
    <% end %>
  </td>
</tr>
<tr>
  <td><%= Factory::Production.human_attribute_name(:link) %></td>
  <td><%= @production.link %></td>
</tr>
<tr>
  <td><%= Factory::Production.human_attribute_name(:stock) %></td>
  <td><%= @production.stock %></td>
</tr>
