<tr>
  <td class="has-text-right"><%= ProducePlan.human_attribute_name(:title) %></td>
  <td><%= @produce_plan.title %></td>
</tr>
<tr>
  <td class="has-text-right"><%= ProducePlan.human_attribute_name(:start_at) %></td>
  <td><%= @produce_plan.start_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= ProducePlan.human_attribute_name(:finish_at) %></td>
  <td><%= @produce_plan.finish_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= ProducePlan.human_attribute_name(:state) %></td>
  <td><%= @produce_plan.state %></td>
</tr>
