<%= render layout: 'product_table' do %>
<% @productions.group_by(&:product).each do |product, productions| %>
  <tr>
    <td rowspan="<%= productions.size + 1 %>">
      <div class="is-several">
        <%= image_tag product.logo.variant(resize_to_limit: [80, 80]), class: 'image is-32x32' if product.logo.attached? %>
        <%= link_to product.name, { action: 'show', id: product.id }, text: true %>
      </div>
    </td>
  </tr>
  <%= render partial: 'product_tbody', layout: 'product_tr', collection: productions, as: :model %>
<% end %>
<% end %>

<%= render layout: 'index_table' do %>
  <% @production_plans.group_by(&:product).each do |product, production_plans| %>
    <tr>
      <td rowspan="<%= production_plans.size + 1 %>">
        <div class="is-several">
          <%= image_tag product.logo.variant(resize_to_limit: [80, 80]), class: 'image is-32x32' if product.logo.attached? %>
          <%= link_to product.name, { action: 'show', id: product.id }, text: true %>
        </div>
      </td>
    </tr>

    <%= render partial: 'index_tbody', layout: 'index_tr', collection: production_plans, as: :model %>
  <% end %>
<% end %>

<%= paginate @productions %>
