<tr>
  <td><%= factory_taxon.name %></td>
  <td>
    <%= link_to({ controller: 'providers', factory_taxon_id: factory_taxon.id }, { aria: { label: t('factory.panel.providers.index.title') }, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-industry"></i>
    <% end %>
    <%= link_to({ action: 'show', id: factory_taxon.id }, { aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to({ action: 'edit', id: factory_taxon.id }, { aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: factory_taxon.id }, { method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
