<%= link_to({ action: 'edit', id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-regular fa-pencil"></i>
  <span><%= t('.edit') %></span>
<% end %>
<%= button_to({ action: 'destroy', id: model.id }, method: :delete, data: { confirm: t('.confirm') }, class: 'has-text-danger', form: { class: 'weui-actionsheet__cell weui-actionsheet__cell_warn' }) do %>
  <i class="fa-regular fa-trash"></i>
  <span><%= t('.destroy') %></span>
<% end %>
<%= link_to({ controller: 'produce_plans', scene_id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-regular fa-hammer"></i>
  <span><%= t('factory.admin.produce_plans.index.title') %></span>
<% end %>
