<div>
  <dt><%= Factory::Scene.human_attribute_name(:title) %></dt>
  <dd><%= @scene.title %></dd>
</div>
<div>
  <dt><%= Factory::Scene.human_attribute_name(:book_start_days) %></dt>
  <dd><%= @scene.book_start_days %></dd>
</div>
<div>
  <dt><%= Factory::Scene.human_attribute_name(:book_start_at) %></dt>
  <dd><%= @scene.book_start_at.to_fs(:time) %></dt>
</div>
<div>
  <dt><%= Factory::Scene.human_attribute_name(:book_finish_days) %></dt>
  <dd><%= @scene.book_finish_days %></dd>
</div>
<div>
  <dt><%= Factory::Scene.human_attribute_name(:book_finish_at) %></dt>
  <dd><%= @scene.book_finish_at.to_fs(:time) %></dt>
</div>
<div>
  <dt><%= Factory::Scene.human_attribute_name(:deliver_start_at) %></dt>
  <dd><%= @scene.deliver_start_at.to_fs(:time) %></dt>
</div>
<div>
  <dt><%= Factory::Scene.human_attribute_name(:deliver_finish_at) %></dt>
  <dd><%= @scene.deliver_finish_at.to_fs(:time) %></dt>
</div>
