<%# render 'produce_on_bar' %>

<div class="weui-panel">
  <div class="weui-panel__bd">
    <%= render partial: 'production', locals: { model: @production } if @production %>
  </div>
</div>

<%= render layout: 'index_table' do %>
  <%= render partial: 'index_tbody', layout: 'index_tr', collection: @members, as: :model %>
<% end %>

<%= paginate @members %>

<%= render 'index_tfoot' %>

<% if request.variant.any?(:work_wechat) %>
<div
  data-controller="open-data"
  data-open-data-options-value="<%= (current_js_app&.agent_config(request.original_url) || {}).to_json %>"
  data-open-data-apis-value="<%= ['openUserProfile'].to_json %>"
  data-open-data-debug-value="false">
</div>
<% end %>

<%# render 'taxon' %>
