<%= content_for(:wechat_js) do %>
  <%= wechat_config_js debug: false, apis: ['openAddress'] -%>
<% end %>

<div class="weui-panel">
  <div class="weui-panel__hd"><%= t('.title') %></div>
  <div class="weui-panel__bd">
    <% @addresses.each do |address| %>
    <div class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__bd">
        <h6 class="weui-media-box__title">
          <%= link_to address.name, my_principal_address_path(address) %>
        </h6>
        <div class="weui-media-box__desc"><%= address.area.full_name %><%= address.detail %></div>
      </div>
      <div class="weui-media-box__ft">
        <div class="weui-btn weui-btn_default">
          <%= link_to '详情', plans_my_principal_address_path(address.id) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="weui-panel__ft">
    <%= link_to fork_my_addresses_path, class: 'weui-cell weui-cell_access weui-cell_link' do %>
      <div class="weui-cell__bd"><%= t('.new') %></div>
      <span class="weui-cell__ft"></span>
    <% end %>
  </div>
</div>


