<% @produce_plans.each do |produce_plan| %>
<div class="weui-form-preview">
  <div class="weui-form-preview__hd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"></label>
      <em class="weui-form-preview__value"><%= produce_plan.title %></em>
    </div>
  </div>
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= ProducePlan.human_attribute_name(:start_at) %></label>
      <span class="weui-form-preview__value"><time><%= produce_plan.start_at.to_s(:rfc822) %></time></span>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= ProducePlan.human_attribute_name(:finish_at) %></label>
      <span class="weui-form-preview__value"><time><%= produce_plan.finish_at.to_s(:rfc822) %></time></span>
    </div>
  </div>
  <div class="weui-form-preview__ft">
    <%= link_to '操作', my_principal_address_trade_items_path(@address, good_id: produce_plan.id), class: 'weui-form-preview__btn weui-form-preview__btn_primary' %>
  </div>
</div>
<% end %>
