<tr>
  <td class="has-text-right"><%= Factory::Brand.human_attribute_name(:name) %></td>
  <td><%= @part_brand.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Factory::Brand.human_attribute_name(:entities_count) %></td>
  <td><%= @part_brand.entities_count %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Factory::Brand.human_attribute_name(:organ_id) %></td>
  <td><%= @part_brand.organ_id %></td>
</tr>
