<div class="weui-media-box weui-media-box_appmsg is-box" id="production_<%= model.id %>">
  <%= link_to({ action: 'show', id: model.id }, state: 'enter', text: true, class: 'weui-media-box__hd as-logo') do %>
    <%= image_tag model.product.logo, class: 'image is-64x64' if model.product.logo.attached? %>
  <% end %>
  <div class="weui-media-box__bd as-body">
    <%= link_to({ action: 'show', id: model.id }, state: 'enter', text: true, class: 'weui-media-box__title pb-1') do %>
      <%= model.name %>
    <% end %>
    <% model.rent_charges.each do |charge| %>
      <p class="has-block-space-between">
        <span class="text-grey">
          <span><%= charge.min %></span>
          <span>~</span>
          <span><%= charge.max %></span>
          <span><%= model.rent_unit_i18n %></span>
        </span>
        <span class="text-danger">
          <span><%= charge.parameter.to_money.format.html_safe %></span>
          <span>/</span>
          <span><%= model.rent_unit_i18n %></span>
        </span>
      </p>
    <% end %>
    <div class="has-block-space-between pt-1">
      <div>
        <span class="text-grey">押金：</span><span class="text-danger"><%= model.price.to_money.format.html_safe %></span>
      </div>
      <div class="flex">
        <%= render partial: 'cart', locals: { model: model, item_con: item_con } %>
      </div>
    </div>
  </div>
</div>
