<%= form_with theme: 'modal', model: @production, url: { action: 'update' } do |f| %>
  <header class="modal-card-head">
    <p class="modal-card-title"><%= t('.title') %></p>
    <button type="button" data-action="modal#close" class="delete"></button>
  </header>
  <section class="modal-card-body">
    <%= render 'error_messages', target: f.object %>
    <% @product.components.each do |component| %>
      <%= f.collection_check_boxes :part_ids, component.parts, :id, :name, { label: component.name, wrap: { label: 'field-label', select: 'field-body control' } }, { multiple: true } %>
    <% end %>
  </section>
  <%= f.submit %>
<% end %>
