<%= f.fields :production_parts, model: @production.production_parts.find_or_initialize_by(part_id: part.id) do |ef| %>
  <td><%= ef.check_box '_destroy', { checked: ef.object.persisted?, include_hidden: true, data: { action: 'show#toggle' } }, '0', '1' %></td>
  <td><%= ef.object.part.name %></td>
  <td>
  <% if ef.object.persisted? %>
    <div data-show-target="check">
      <%= ef.hidden_field :part_id %>
      <%= ef.hidden_field :component_id %>
      <%= ef.number_field :number, style: 'width: 5em' %>
    </div>
    <span data-show-target="hidden" class="display-none"><%= ef.object.number %></span>
  <% else %>
    <div data-show-target="check" class="display-none">
      <%= ef.hidden_field :part_id, disabled: true, value: part.id %>
      <%= ef.hidden_field :component_id, disabled: true, value: component.id %>
      <%= ef.number_field :number, disabled: true, style: 'width: 5em' %>
    </div>
    <span data-show-target="hidden"><%= ef.object.number %></span>
  <% end %>
  </td>
<% end %>