<li><%= link_to t('.taxons.index.title'), { controller: 'taxons' } %></li>
<li><span class="px-3"><%= @production.taxon.name %></span></li>
<li><%= link_to t('.products.index.title'), { controller: 'products', taxon_id: @production.taxon_id, anchor: "tr_#{@production.product_id}" } %></li>
<li><span class="px-3"><%= @production.product.name %></span></li>
<li>
  <%= link_to({ controller: 'productions', product_id: @production.product_id }) do %>
    <span><%= t('.productions.index.title') %></span>
    <span>（<%= @production.name %>）</span>
  <% end %>
</li>
<li>
  <%= link_to @production_plan.produce_on, { controller: 'production_plans', anchor: "tr_#{params[:production_plan_id]}" } %>
</li>
<li class="is-active"><%= t('.title') %></li>
