<div class="weui-tabbar weui-tabbar_fixed">
  <%= link_to my_cart_path, class: 'weui-tabbar__item' do %>
    <i class="fas fa-shopping-cart weui-tabbar__icon">
      <span class="weui-badge"><%= current_cart_count %></span>
    </i>
    <div class="weui-tabbar__label">购物车</div>
  <% end %>
  <div class="weui-tabbar__item">
    <%= form_with theme: nil, url: add_my_cart_path do |f| %>
      <%= f.hidden_field :good_type, value: 'Production' %>
      <%= f.hidden_field :good_id, value: @production.id %>
      <%= f.submit t('.add'), class: 'weui-btn weui-btn_warn' %>
    <% end %>
  </div>
</div>
