<div class="level flex-direction-row is-safe-bottom" style="background-color: #f7f7f7">
  <div class="level-left p-3">
    <%= link_to({ controller: 'trade/my/carts', action: 'show', id: @cart.id }, state: 'enter', class: 'has-column-centered') do %>
      <i class="fa-solid fa-cart-shopping size-5">
        <span class="weui-badge"><%= @cart.items.count %></span>
      </i>
      <span class="size-7 has-text-grey"><%= t('trade.my.carts.show.title') %></span>
    <% end if @cart %>
  </div>
  <div class="level-right p-3">
  <% if item = @cart&.find_item(good_id: @production.id, produce_on: params[:produce_on], scene_id: params[:scene_id]) %>
    <%= render partial: 'cart', locals: { model: @production, item_con: 'trade/my/items', item: item, cart: @cart } %>
  <% else %>
    <%= render partial: 'add_cart_button', locals: { model: @production, item_con: 'trade/my/items' } %>
  <% end %>
  </div>
</div>
