<div class="fixed-grid has-6-cols">
  <div class="grid">
    <%= link_to({ controller: 'organs', action: 'show' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.organs.show.title') %></span>
    <% end %>
    <%= link_to({ controller: 'product_taxons' }, class: 'cell button is-fullwidth flex-direction-column') do %>
      <span class="color-grey"><%= @taxon_count %></span>
      <span><%= t('.product_taxons.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'scenes' }, class: 'cell button is-fullwidth flex-direction-column') do %>
      <span class="color-grey"><%= @scene_count %></span>
      <span><%= t('.scenes.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'provides' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.provides.index.title') %></span>
    <% end %>
  </div>
</div>
