<div class="ui vertical fluid icon menu">
  <div class="header center link item" id="close_side">
    <i class="content icon"></i>
  </div>
  <div class="item ui dropdown">
    <a class="<%= active_helper(controllers: ['products', 'product_taxons', 'parts', 'product_plans', 'part_plans', 'product_items', 'part_items', 'part_taxons'], active_class: 'title active', item_class: 'title') %>">
      <i class="building icon"></i>
      <span>生产管理</span>
    </a>
    <div class="<%= active_helper(controllers: ['products', 'product_taxons', 'parts', 'product_plans', 'part_plans', 'product_items', 'part_items', 'part_taxons'], active_class: 'menu content active', item_class: 'menu content') %>">
      <%= link_to '产品', admin_products_path, class: active_helper(controllers: ['products', 'product_taxons', 'product_plans', 'product_items']) %>
      <%= link_to '配件', admin_parts_path, class: active_helper(controllers: ['parts', 'part_taxons', 'part_plans', 'part_items']) %>
    </div>
  </div>
  <div class="item ui dropdown">
    <a class="<%= active_helper(controllers: ['facilitate_taxons', 'facilitates', 'facilitate_providers'], active_class: 'title active', item_class: 'title') %>">
      <i class="recycle icon"></i>
      <span>服务管理</span>
    </a>
    <div class="<%= active_helper(controllers: ['facilitate_taxons', 'facilitates', 'facilitate_providers'], active_class: 'menu content active', item_class: 'menu content') %>">
      <%= link_to '服务管理', admin_facilitates_path, class: active_helper(controllers: ['facilitates', 'facilitate_providers']) %>
    </div>
  </div>
  <div class="ui dropdown item">
    <span>商品管理</span>
    <div class="menu">
      <%= link_to '供应商', admin_providers_path, class: active_helper(controller: 'providers') %>
    </div>
  </div>
</div>

