<li><%= link_to t('.product_taxons.index.title'), { controller: 'product_taxons', anchor: "tr_#{@product.product_taxon.id}" } %></li>
<li>
  <div class="px-3">
    <span><%= @product.product_taxon.name %></span>
    <% if @product.product_taxon.factory_taxon %>
      <span class="text-grey">（<%= @product.product_taxon.factory_taxon.name %>）</span>
    <% end %>
  </div>
</li>
<li><%= link_to t('factory.admin.taxon.products.index.title'), { controller: 'taxon/products', product_taxon_id: @product.product_taxon_id } %></li>
<li><span class="px-3"><%= @product.name %></span></li>
