<h2 class="title text-centered"><%= @product.name %></h2>

<div class="tabs is-centered mb-3">
  <ul>
    <li class="<%= active_helper(products: ['show', 'edit'], active: 'is-active') %>">
      <%= link_to t('factory.admin.products.show.title'), { controller: 'factory/admin/products', action: 'show', taxon_id: @product.taxon_id, id: @product.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'productions', active: 'is-active') %>">
      <%= link_to t('factory.admin.productions.index.title'), { controller: 'factory/admin/productions', action: 'index', product_id: @product.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'product_part_taxons', active: 'is-active') %>">
      <%= link_to({ controller: 'product_part_taxons', product_id: @product.id }) do %>
        <i class="fa-solid fa-tree"></i>
        <span class="pl-1"><%= t('.product_part_taxons.index.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(controllers: 'fits', active: 'is-active') %>">
      <%= link_to({ controller: 'fits', product_id: @product.id }) do %>
        <i class="fa-solid fa-cogs"></i>
        <span class="pl-1"><%= t('.fits.index.title') %></span>
      <% end %>
    </li>
  </ul>
</div>
