<h2 class="title has-text-centered">
  <%= product.name %>
</h2>

<div class="tabs">
  <ul>
    <li class="<%= active_helper(products: ['show', 'edit'], active: 'is-active') %>">
      <%= link_to t('factory.admin.products.show.title'), { controller: 'factory/admin/products', action: 'show', product_taxon_id: product.product_taxon_id, id: product.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'productions', active: 'is-active') %>">
      <%= link_to t('factory.admin.productions.index.title'), { controller: 'factory/admin/productions', action: 'index', product_id: product.id } %>
    </li>
  </ul>
</div>
