<div data-controller="empty" class="weui-panel is-box is-borderless">
  <div class="weui-panel__hd has-block-space-between">
    <div>
      <i class="fa-solid fa-fw fa-store text-primary"></i>
      <span><%= t('factory.admin.title') %></span>
    </div>
    <%= link_to({ controller: '/factory/productions' }, state: 'enter') do %>
      <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
      <span>预览商店</span>
    <% end %>
  </div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
      <%= link_to({ controller: 'taxon/products', taxon_id: @taxon.id }, class: 'column has-column-centered') do %>
        <div class="text-primary">
          <i class="fa-solid fa-fw fa-xl fa-folder-tree"></i>
        </div>
        <div class="text-grey size-7 mt-1"><%= t('.products.index.title') %></div>
      <% end %>
      <%= link_to({ controller: 'factory/admin/scenes' }, class: 'column has-column-centered') do %>
        <div class="text-primary">
          <i class="fa-solid fa-fw fa-xl fa-lightbulb"></i>
        </div>
        <div class="text-grey size-7 mt-1"><%= t('factory.admin.scenes.index.title') %></div>
      <% end %>
      <%= link_to({ controller: 'factory/admin/brands' }, class: 'column has-column-centered') do %>
        <div class="text-primary">
          <i class="fa-solid fa-fw fa-xl fa-copyright"></i>
        </div>
        <div class="text-grey size-7 mt-1"><%= t('factory.admin.brands.index.title') %></div>
      <% end %>
    </div>
  </div>
</div>
