<h2 class="title text-centered">
  <%= @taxon.name %>
</h2>

<div class="tabs is-centered mb-3">
  <ul>
    <li class="<%= active_helper(taxons: ['show', 'edit'], active: 'is-active') %>">
      <%= link_to t('.taxons.show.title'), { controller: 'taxons', action: 'show', id: @taxon.id } %>
    </li>
    <li class="<%= active_helper(products: ['index'], active: 'is-active') %>">
      <%= link_to t('.products.index.title'), { controller: 'taxon/products', taxon_id: @taxon.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'productions', active: 'is-active') %>">
      <%= link_to({ controller: 'productions', action: 'taxon', taxon_id: @taxon.id }) do %>
        <i class="fa-solid fa-list"></i>
        <span class="pl-1"><%= t('factory.admin.productions.taxon.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(controllers: 'taxon_components', active: 'is-active') %>">
      <%= link_to({ controller: 'taxon/taxon_components', taxon_id: @taxon.id }) do %>
        <i class="fa-solid fa-tree"></i>
        <span class="pl-1"><%= t('.taxon_components.index.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(products: ['buy'], active: 'is-active') %>">
      <%= link_to({ controller: 'taxon/products', action: 'buy', taxon_id: @taxon.id }) do %>
        <i class="fa-solid fa-store"></i>
        <span class="pl-1"><%= t('.products.buy.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(taxons: ['import'], active: 'is-active') %>">
      <%= link_to({ controller: 'taxons', action: 'import', id: @taxon.id }) do %>
        <i class="fa-solid fa-sign-in-alt"></i>
        <span class="pl-1"><%= t('factory.admin.taxons.import.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(controllers: 'provides', active: 'is-active') %>">
      <%= link_to({ controller: 'taxon/provides', taxon_id: @taxon.id }) do %>
        <i class="fa-solid fa-building"></i>
        <span class="pl-1"><%= t('.provides.index.title') %></span>
      <% end %>
    </li>
  </ul>
</div>
