<th><%= Factory::ProductionProvide.human_attribute_name(:provide_id) %></th>
<th>
  <p><%= Factory::ProductionProvide.human_attribute_name(:upstream_production_id) %></p>
  <p><%= Factory::ProductionProvide.human_attribute_name(:upstream_product_id) %></p>
</th>
<th><%= Factory::ProductionProvide.human_attribute_name(:cost_price) %></th>
<th><%= Factory::ProductionProvide.human_attribute_name(:default) %></th>
<th><%= Factory::ProductionProvide.human_attribute_name(:created_at) %></th>
