<%= link_to({ controller: 'products', produce_plan_id: model.id }, class: 'column is-half-mobile has-text-grey') do %>
  <div class="weui-grid__icon"><%= image_tag model.scene.logo if model.scene.logo.attached? %></div>
  <p class="weui-grid__label"><%= model.scene.title %></p>
  <p class="is-size-7">
    <span>预定截止：</span>
    <span><%= model.produce_on.to_s(:month_and_day) %></span>
    <time><%= model.scene.book_finish_at.to_s(:time) %></time>
  </p>
  <p class="is-size-7">
    <span>配送时间：</span>
    <time><%= model.scene.deliver_start_at.to_s(:time) %></time>
    <span>~</span>
    <time><%= model.scene.deliver_finish_at.to_s(:time) %></time>
  </p>
<% end %>
