<td>
  <div class="is-several">
    <i class="fa-solid fa-fw fa-bars has-text-grey is-drawable"></i>
    <%= image_tag model.logo, class: 'image is-32x32' if model.logo.attached? %>
    <span><%= model.name %></span>
  </div>
</td>
<td><%= model.scene&.title %></td>
<td>
  <%= link_to({ controller: 'products', product_taxon_id: model.id }) do %>
    <i class="fa-solid fa-cubes has-text-success"></i>
    <span class="pl-1"><%= model.products_count %></span>
  <% end %>
  <%= link_to({ controller: 'product_taxons', action: 'import', id: model.id }, aria: { label: t('factory.admin.product_taxons.import.title') }) do %>
    <i class="fa-solid fa-sign-in-alt"></i>
  <% end %>
</td>
<th>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :enabled, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</th>
<th>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :partial, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</th>
