<%= button_to({ action: 'edit', id: model.id }, class: 'cell') do %>
  <i class="fa-solid fa-pencil"></i>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= button_to({ action: 'destroy', id: model.id }, method: :delete, class: 'has-text-danger', form: { turbo_confirm: t('.destroy.confirm'), class: 'cell weui-actionsheet__cell_warn' }) do %>
  <i class="fa-solid fa-trash"></i>
  <span><%= t('.destroy.title') %></span>
<% end %>
<div
  data-controller="mini-program"
  data-mini-program-url-value="/pages/print/execute/index"
  data-mini-program-data-value="<%= { url: url_for(action: 'print_data', id: model.id, only_path: false) }.to_json %>"
  data-action="click->mini-program#link"
  class="cell"
>
  <%= button_to({ action: 'print', id: model.id }, method: :patch, class: 'has-text-primary') do %>
    <i class="fa-solid fa-print"></i>
    <span><%= t('factory.admin.production_items.print.title') %></span>
  <% end %>
</div>
