<div>
  <dt><%= Factory::ProductionItem.human_attribute_name(:product_id) %></dt>
  <dd><%= @production_item.production_id %></dd>
</div>
<div>
  <dt><%= Factory::ProductionItem.human_attribute_name(:code) %></dt>
  <dd><%= @production_item.code %></dd>
</div>
<div>
  <dt><%= Factory::ProductionItem.human_attribute_name(:enter_url) %></dt>
  <dt><%= image_tag @production_item.qrcode_enter_url %></dd>
</div>
