<td><%= model.member.name %></td>
<td>
  <span><%= model.good.name %></span>
</td>
<td><%= model.number %></td>
<td><%= model.amount %></td>
<td><%= model.note %></td>
<td><%= model.extra %></td>
<td><%= model.status_i18n %></td>
