<tr>
  <td><%= Trade::Item.human_attribute_name(:number) %></td>
  <td><%= @item.number %></td>
</tr>
<tr>
  <td><%= Trade::Item.human_attribute_name(:amount) %></td>
  <td><%= @item.amount %></td>
</tr>
<tr>
  <td><%= Trade::Item.human_attribute_name(:note) %></td>
  <td><%= @item.note %></td>
</tr>
<tr>
  <td><%= Trade::Item.human_attribute_name(:extra) %></td>
  <td><%= @item.extra %></td>
</tr>
<tr>
  <td><%= Trade::Item.human_attribute_name(:status) %></td>
  <td><%= @item.status_i18n %></td>
</tr>
