<div>
  <dt><%= Trade::Item.human_attribute_name(:number) %></dt>
  <dd><%= @item.number %></dd>
</div>
<div>
  <dt><%= Trade::Item.human_attribute_name(:amount) %></dt>
  <dd><%= @item.amount %></dd>
</div>
<div>
  <dt><%= Trade::Item.human_attribute_name(:note) %></dt>
  <dd><%= @item.note %></dd>
</div>
<div>
  <dt><%= Trade::Item.human_attribute_name(:extra) %></dt>
  <dd><%= @item.extra %></dd>
</div>
<div>
  <dt><%= Trade::Item.human_attribute_name(:status) %></dt>
  <dd><%= @item.status_i18n %></dd>
</div>
