<div class="box mx-3">
  <div class="weui-panel__hd">
    <div class="level is-mobile justify-content-space-between">
      <div class="level-left is-several">
        <%= image_tag scene.logo, class: 'image is-32x32' if scene.logo.attached? %>
        <span><%= scene.title %></span>
      </div>
      <div class="level-right mt-0">
        <%= link_to({ controller: 'scenes', action: 'show', id: scene.id }) do %>
          <span>更多</span>
          <i class="fa-solid fa-angle-right"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="weui-panel__bd">
    <div class="media">
      <div class="media-content">
        <p class="size-7 text-centered">
          <span>预定时间：</span>
          <span class="<%= scene.bookable?(@produce_on) ? 'text-success' : 'text-danger' %>">
          <time><%= scene.book_start_at.to_fs(:time) %></time>
          <span>~</span>
          <time><%= scene.book_finish_at.to_fs(:time) %></time>
        </span>
        </p>
        <p class="size-7 text-centered">
          <span>配送时间：</span>
          <time><%= scene.deliver_start_at.to_fs(:time) %></time>
          <span>~</span>
          <time><%= scene.deliver_finish_at.to_fs(:time) %></time>
        </p>
      </div>
    </div>
  </div>
  <div class="weui-panel__ft">
    <div class="columns mx-4 mb-4 flex is-multiline">
      <%= render partial: 'produce_on', collection: (Date.today .. Date.today + 1), as: :date, locals: { scene: scene } %>
    </div>
  </div>
</div>
