<th><%= Factory::Scene.human_attribute_name(:title) %></th>
<th>
  <p>
    <span><%= Factory::Scene.human_attribute_name(:book_start_days) %></span>
    <span><%= Factory::Scene.human_attribute_name(:book_start_at) %></span>
  </p>
  <p>
    <span><%= Factory::Scene.human_attribute_name(:book_finish_days) %></span>
    <span><%= Factory::Scene.human_attribute_name(:book_finish_at) %></span>
  </p>
</th>
<th>
  <p><%= Factory::Scene.human_attribute_name(:deliver_start_at) %></p>
  <p><%= Factory::Scene.human_attribute_name(:deliver_finish_at) %></p>
</th>
<td><%= Factory::Scene.human_attribute_name(:specialty) %></td>
<th></th>
