<div class="media box">
  <div class="media-left as-logo">
    <figure class="image is-64x64 is-1by1">
      <%= image_tag model.logo if model.logo.attached? %>
    </figure>
  </div>
  <div class="media-content">
    <h5 class="title"><%= model.name %></h5>
    <strong class="has-text-danger"><%= model.price.to_money.format.html_safe %></strong>
  </div>
  <div class="media-right as-x">
  <% if item = @cart && @cart.find_item(good_id: model.id) %>
    <%= render partial: 'cart_big', locals: { cart: @cart, item_con: item_con, item: item } %>
  <% else %>
    <%= render partial: 'add_cart_big', locals: { cart: @cart, model: model, item_con: item_con } %>
  <% end %>
  </div>
</div>
