<div class="media box">
  <div class="media-left">
    <figure class="image is-64x64 is-1by1">
      <%= image_tag model.logo if model.logo.attached? %>
    </figure>
  </div>
  <div class="media-content">
    <h2 class="title is-6"><%= model.title %></h2>
    <strong class="text-danger"><%= model.price.to_money.format.html_safe %></strong>
  </div>
  <div class="media-right as-x">
  <% if @cart %>
    <%= render partial: 'cart_big', locals: { cart: @cart, item_con: item_con, item: @cart.init_cart_item(params, good_id: model.id) } %>
  <% else %>
    <%= render partial: 'add_cart_auto', locals: { cart: @cart, model: model, item_con: item_con } %>
  <% end %>
  </div>
</div>
