<div class="box as-bar">
  <% if params[:desk_id] %>
    <%= link_to({ controller: 'space/admin/desks', action: 'all' }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end %>
  <% else %>
    <%= link_to({ controller: 'produce_plans' }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end %>
  <% end %>
  <div class="weui-title flex-direction-column">
  <% if params[:desk_id] %>
    <div><span><%= @desk.name %></span></div>
  <% elsif params[:scene_id] || params[:produce_on] %>
    <div>
      <span class="text-weight-semibold"><%= params[:produce_on] %></span>
      <span><%= params[:produce_on].to_date.to_fs(:week) if params[:produce_on].present? %></span>
    </div>
    <div>
      <span class="text-weight-semibold"><%= @scene.title %></span>
    </div>
  <% end %>
  </div>
  <%= render 'space_dispatch' %>
</div>
