<tr data-controller="tree_remote show" data-action="mouseenter->show#show mouseleave->show#hide" id="tr_<%= product.id %>">
  <td>
    <%= link_to({ action: 'productions', product_id: product.id }) do %>
      <i class="fas fa-fw fa-caret-right" style="cursor: pointer" data-action="click->tree_remote#expand"></i>
    <% end %>
    <%= image_tag product.logo.variant(resize_to_limit: [24, 24]), class: 'image is-24x24' if product.logo.attached? %>
    <%= product.name %>
  </td>
  <td><%= product.qr_prefix %></td>
  <td>
    <table class="table is-borderless">
      <% product.parts.each do |part| %>
        <tr>
          <td><span class="tag"><%= link_to part.name, { controller: 'parts', action: 'show', id: part.id } %></span></td>
          <td><%= part.price %></td>
        </tr>
      <% end %>
    </table>
  </td>
  <td>
    <% if @select_ids.include?(product.id) %>
      <i class="fas fa-check has-text-success"></i>
    <% else %>
      <i class="fas fa-times has-text-gery"></i>
    <% end %>
  </td>
  <td>
    <%= link_to({ controller: 'products', action: 'part', id: product.id }, aria: { label: t('factory.admin.products.part.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-cube"></i>
    <% end %>
  </td>
  <td>
    <%= link_to t('factory.admin.product_plans.index.title'), { controller: 'product_plans', product_id: product.id }, class: 'button is-small is-success' %>
    <%= link_to({ controller: 'productions', product_id: product.id }, aria: { label: t('factory.admin.productions.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-clone"></i>
    <% end %>
    <%= link_to({ controller: 'products', action: 'show', id: product.id }, aria: { label: t('.show') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to({ controller: 'products',action: 'edit', id: product.id }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
  </td>
</tr>
<% if params[:product_id] == product.id.to_s %>
  <%= render partial: 'production', collection: product.productions, as: :production %>
<% end %>
