<% trade_item = @cart.find_trade_items(good_id: model.id, produce_on: params[:produce_on], scene_id: params[:scene_id]) %>

<%= button_to({ controller: 'factory/my/trade_items', action: 'update', id: trade_item.id }, method: :patch, params: { '[trade_item]number': trade_item.number - 1 }, class: 'mr-1', form: { data: { turbo_scroll: true, turbo_scroll_container: 'production_dialog' } }) do %>
  <i class="fa-solid fa-circle-minus fa-xl has-text-dark-grey"></i>
<% end if trade_item && trade_item.number > 1 %>
<%= button_to({ controller: 'factory/my/trade_items', action: 'destroy', id: trade_item.id }, method: :delete, class: 'mr-1', form: { data: { turbo_scroll: true, turbo_scroll_container: 'production_dialog' } }) do %>
  <i class="fa-solid fa-circle-minus fa-xl has-text-dark-grey"></i>
<% end if trade_item && trade_item.number <= 1 %>
<%= form_with(theme: nil, scope: 'trade_item', url: { controller: 'factory/my/trade_items', action: 'update', id: trade_item.id }, method: :patch, data: { controller: 'input', turbo_scroll: true, turbo_scroll_container: 'production_dialog' }) do |f| %>
  <%= f.number_field :number, value: trade_item.number, data: { action: 'change->input#form' }, class: 'has-background-light has-text-centered', style: 'width: 30px' %>
<% end if trade_item %>
<%= button_to({ controller: 'factory/my/trade_items', action: 'update', id: trade_item.id }, method: :patch, params: { '[trade_item]number': trade_item.number + 1 }, class: 'ml-1', form: { data: { turbo_scroll: true, turbo_scroll_container: 'production_dialog' } }) do %>
  <i class="fa-solid fa-circle-plus fa-xl has-text-dark-grey"></i>
<% end if trade_item %>

<%= form_with theme: nil, url: { controller: 'factory/my/trade_items', action: 'create' }, data: { turbo_scroll: true, turbo_scroll_container: 'production_dialog' }, class: 'button_to' do |f| %>
  <%= f.hidden_field :member_id, value: current_member&.id %>
  <%= f.hidden_field :good_type, value: model.class_name %>
  <%= f.hidden_field :good_id, value: model.id %>
  <%= f.hidden_field :produce_on, value: params[:produce_on] %>
  <%= f.hidden_field :scene_id, value: params[:scene_id] %>
  <%= button_tag class: 'weui-btn weui-btn_mini weui-btn_danger has-text-white' do %>
    <i class="fa-solid fa-circle-plus"></i>
    <span>加入购物车</span>
  <% end %>
<% end unless trade_item %>
