<div class="weui-half-screen-dialog__hd">
  <div class="weui-half-screen-dialog__hd__side"></div>
  <div class="weui-half-screen-dialog__hd__main"><%= @production.name %></div>
  <div class="weui-half-screen-dialog__hd__side">
    <button class="weui-btn_icon" data-action="weui-dialog#close">
      <i class="weui-icon-close-thin"></i>
    </button>
  </div>
</div>
<div class="weui-half-screen-dialog__bd" data-controller="scroll" id="production_dialog">
  <%= form_with model: @production, url: { controller: '/factory/productions', action: 'create_dialog' }, method: :post, data: { turbo_scroll: true, turbo_scroll_container: 'production_dialog' }, id: 'edit_custom' do |f| %>
    <%= f.hidden_field :product_id %>
  <% end %>
  <%# render 'factory/productions/_base/figure' if @production.product.covers.length > 0 %>
  <div class="box is-shadowless has-background-transparent has-text-bold mb-0">
    <span><%= @production.product.name %></span>
    <span class="has-text-danger"><%= @production.price.to_money.format.html_safe %></span>
  </div>
  <%= render partial: 'factory/productions/_base/product_part_taxon', collection: @production.product.product_part_taxons, as: :product_part_taxon %>
</div>
<div class="weui-half-screen-dialog__ft">
  <%= render 'factory/productions/_dialog/tab_bar' %>
</div>
