<% if params[:scene_id].present? || params[:produce_on].present? %>
  <%= render 'top_bar' %>
<% end %>

<% if params[:station_id].present? %>
  <%= render 'space_station' %>
<% elsif params[:desk_id].present? %>
  <%= render 'space_desk' %>
<% end %>

<%= render 'filter_form' %>
<div class="weui-menu">
  <%= render 'menu' unless @produce_plan %>
  <div
    data-controller="page"
    data-page-debug-value="true"
    data-action="touchmove->page#move:passive"
    class="weui-menu-content"
  >
    <%= render partial: 'production_cart', layout: 'production', collection: @productions, as: :model, locals: { cart: @cart, item_con: 'trade/my/items' } %>
    <% if @productions.blank? %>
      <%= render 'blank' %>
    <% elsif @productions.total_pages <= @productions.current_page %>
      <%= render 'no_more' %>
    <% elsif @productions.total_pages > @productions.current_page %>
      <%= render 'loading' %>
      <%= render 'tip' %>
    <% end %>
    <%= render 'paginator' %>
  </div>
</div>

<%= render 'taxon' if @produce_plan %>
