<%= render 'produce_on_bar' if params[:produce_on] && params[:scene_id] %>

<%= render 'station' if params[:station_id].present? || params[:desk_id].present? %>

<div class="weui-flex is-align-items-flex-start is-flex-grow-1">
  <%= render 'menu' unless @produce_plan %>
  <div
    data-controller="page"
    data-page-debug-value="true"
    data-action="touchmove->page#move:passive"
    class="weui-panel is-borderless weui-panel_access mt-0 weui-flex__item"
    style="height: 100%"
  >
    <div class="weui-panel__bd is-flex is-flex-direction-column is-flex-grow-1" style="height: 100%">
      <%= render partial: 'production', collection: @productions, as: :model %>
      <% if @productions.total_pages == @productions.current_page %>
        <%= render 'no_more' %>
      <% elsif @productions.blank? %>
        <%= render 'blank' %>
      <% elsif @productions.total_pages > @productions.current_page %>
        <%= render 'loading' %>
      <% else %>
        <%= render 'tip' %>
      <% end %>
    </div>
    <%= render 'paginator' %>
  </div>
</div>

<%= render 'taxon' if @produce_plan %>
