<% if params[:produce_on] && params[:scene_id] %>
  <%= render 'produce_on_bar' %>
<% end %>

<div class="box is-radiusless">
  <i class="fa-light fa-location-dot"></i>
  <span><%= current_organ.address_detail %></span>
</div>

<div class="weui-flex is-align-items-flex-start is-flex-grow-1" style="margin-bottom: -1rem">
  <%= render 'menu' unless @produce_plan %>
  <div
    data-controller="page"
    data-page-debug-value="true"
    data-action="touchmove->page#move:passive"
    class="weui-panel is-borderless weui-panel_access mt-0 weui-flex__item"
    style="height: 100%"
  >
    <div class="weui-panel__bd">
      <%= render partial: 'production', collection: @productions, as: :model %>
      <% if @productions.total_pages == @productions.current_page %>
        <%= render 'no_more' %>
      <% elsif @productions.blank? %>
        <%= render 'blank' %>
      <% elsif @productions.total_pages > @productions.current_page %>
        <%= render 'loading' %>
      <% else %>
        <%= render 'tip' %>
      <% end %>
    </div>
    <%= render 'paginator' %>
  </div>
</div>

<%= render 'taxon' if @produce_plan %>
