<div class="columns">
  <div class="column">
    <%= render partial: 'covers', locals: { model: @production.product } %>
  </div>
  <div class="column">
    <div class="box">
      <h1 class="title"><%= @production.product.name %></h1>
      <div class="has-text-danger has-text-bold">
        <span><%= @production.price.to_money.symbol %></span>
        <span id="total_price"><%= @production.price.to_money.to_s %></span>
      </div>
      <div class="is-flex">
        <%= render partial: 'cart', locals: { model: @production } if @cart %>
      </div>
    </div>
  </div>
</div>
