<%= render 'breadcrumb' %>

<%= form_with url: { controller: '/factory/productions', action: 'create' }, method: :post, id: 'edit_custom' do |f| %>
  <%= f.hidden_field :product_id, value: @production.product_id %>
  <%= f.hidden_field :product_plan_id, value: params[:product_plan_id] %>
<% end %>

<div class="weui-panel is-box">
  <%= render partial: 'covers', locals: { model: @production.product } if @production.product.covers.length > 0 %>
</div>

<div class="weui-panel is-box" style="z-index: 3">
  <div class="weui-panel__hd">
    <div><%= @production.name %></div>
    <% unless @production.presell %>
    <div class="has-inline-centered mt-1">
      <span class="has-text-danger"><%= @production.price.to_money.format.html_safe %></span>
      <% @production.card_price_all(@cart).each do |k, v| %>
      <div class="tags has-addons is-price control m-0 ml-2">
        <% if v[:checked] %>
          <div class="tag is-danger">
            <i class="fa-solid fa-badge-check"></i>
            <span style="padding-left: 1px"><%= v[:name] %></span>
          </div>
        <% else %>
          <div class="tag is-success"><%= v[:name] %></div>
        <% end %>
        <div class="tag is-light"><%= v[:price].to_money.format.html_safe %></div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="weui-panel__bd p-4">
    <% @production.upstream_provides.each do |upstream| %>
      <p>
        <span>供应商：</span>
        <span><%= upstream.organ.name %></span>
      </p>
    <% end %>
    <div><%= simple_format @production.product.description %></div>
  </div>
</div>

<% if @production.same_parts.present? %>
  <div class="weui-panel is-box">
  <% @production.same_parts.includes(:product_taxon).group_by(&:product_taxon).each do |part_taxon, parts| %>
    <%= render partial: 'product_part_taxon', locals: { part_taxon: part_taxon, parts: parts } %>
  <% end %>
  </div>
<% elsif @production.brothers.enabled.count > 1 %>
  <%= render 'brothers' %>
<% end %>

<% if @production.product.images.present? %>
<div class="weui-panel is-box">
  <% @production.product.images.each do |image| %>
    <%= image_tag image, class: 'image is-fullwidth' -%>
  <% end %>
</div>
<% end %>
