<div class="column">
  <%= render partial: 'covers', locals: { model: @production.product } %>
</div>

<div class="column">
  <div class="box">
    <h1 class="title"><%= @production.product.name %></h1>
    <div class="text-danger text-bold">
      <span><%= @production.price.to_money.format.html_safe %></span>
    </div>
    <div class="flex mt-1">
      <% if @cart %>
        <%= render partial: 'cart_item', locals: { item: @cart.init_cart_item(params, good_id: @production.id), cart: @cart, item_con: 'trade/my/items' } %>
      <% end %>
      <%= link_to({ controller: 'trade/my/carts', action: 'show', id: @cart.id }, class: 'button is-small is-primary is-radius') do %>
        <span class="pr-1"><%= t('trade.my.carts.show.title') %></span>
        <i class="fa-solid fa-angle-right"></i>
      <% end if @cart %>
    </div>
  </div>
</div>
