<%= render 'breadcrumb' %>

<%= form_with model: @production, url: { controller: '/factory/productions', action: 'create' }, method: :post, id: 'edit_custom' do |f| %>
  <%= f.hidden_field :product_id %>
  <%= f.hidden_field :product_plan_id, value: params[:product_plan_id] %>
<% end %>

<%= render partial: 'covers', locals: { model: @production.product } if @production.product.covers.length > 0 %>

<div class="box is-radiusless is-sticky" style="z-index: 3">
  <div class="has-text-bold">
    <span><%= @production.product.name %></span>
    <span class="has-text-danger"><%= @production.price.to_money.format.html_safe %></span>
  </div>
</div>

<div class="box mx-3 p-0">
  <%= render partial: 'product_part_taxon', collection: @production.product.product_part_taxons, as: :product_part_taxon %>
</div>

<% if @production.product.images.present? %>
<div class="box mx-3 p-0">
  <% @production.product.images.each do |image| %>
    <%= image_tag image, class: 'image' -%>
  <% end %>
</div>
<% end %>
