<%= form_with url: { controller: '/factory/productions', action: 'create' }, method: :post, id: 'edit_custom' do |f| %>
  <%= f.hidden_field :product_id, value: @production.product_id %>
  <%= f.hidden_field :product_plan_id, value: params[:product_plan_id] %>
<% end %>

<div class="box is-border">
  <%= render partial: 'covers', locals: { model: @production.product } if @production.product.covers.length > 0 %>
</div>

<div class="box is-border" style="z-index: 3">
  <div class="p-4">
    <div><%= @production.name %></div>
    <% unless @production.presell %>
    <div class="has-inline-centered mt-1">
      <span class="text-danger"><%= @production.price.to_money.format.html_safe %></span>
      <% @production.card_price_all(@cart).each do |k, v| %>
      <div class="tags has-addons is-price control m-0 ml-2">
        <% if v[:checked] %>
          <div class="tag is-danger">
            <i class="fa-solid fa-badge-check"></i>
            <span style="padding-left: 1px"><%= v[:name] %></span>
          </div>
        <% else %>
          <div class="tag is-success"><%= v[:name] %></div>
        <% end %>
        <div class="tag is-light"><%= v[:price].to_money.format.html_safe %></div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="p-4">
    <% @production.production_provides.each do |upstream| %>
      <p>
        <span>供应商：</span>
        <span><%= upstream.organ.name %></span>
      </p>
    <% end %>
    <div><%= simple_format @production.product.description %></div>
  </div>
</div>

<div class="mx-3 mb-3">
  <%= render 'show' %>
</div>

<% if @production.product.images.present? %>
<div class="box is-border">
  <% @production.product.images.each do |image| %>
    <%= image_tag image, class: 'image is-fullwidth' -%>
  <% end %>
</div>
<% end %>

<div
  data-controller="mask"
  data-action="click->mask#close"
  class="weui-mask weui-mask-share"
  id="mask"
  style="display: none"
>
</div>