<%= form_with model: @production, url: { controller: 'factory/my/productions', action: 'create' }, method: :post, id: 'edit_custom' do |f| %>
  <%= f.hidden_field :product_id %>
  <%= f.hidden_field :product_plan_id, value: params[:product_plan_id] %>
<% end %>

<div class="slide is-1by1" data-controller="slide" data-slide-debug-value="true" data-slide-circle-value="true" data-slide-duration="1s">
  <% @production.product.covers.each_with_index do |cover, index| %>
    <%= render partial: 'figure', locals: { cover: cover, index: index } %>
  <% end %>
</div>

<div class="box is-radiusless is-sticky" style="z-index: 3">
  <div class="has-text-bold">
    <span><%= @production.product.name %></span>
    <span class="has-text-danger"><%= @production.price.to_money.format(html_wrap: true).html_safe %></span>
  </div>
</div>

<div class="box mx-3 p-0">
  <%= render partial: 'product_part_taxon', collection: @product.product_part_taxons, as: :product_part_taxon %>
</div>

<% if @production.product.images.present? %>
<div class="box mx-3 p-0">
  <% @production.product.images.each do |image| %>
    <%= image_tag image, class: 'image' -%>
  <% end %>
</div>
<% end %>
