<td><%= model.name %></td>
<td>
  <% model.parts.each do |part| %>
    <%= button_to({ controller: 'productions', action: 'show', product_id: part.product_id, id: part.id }, class: 'tag is-info') do %>
      <span><%= part.name %></span>
      <span class="pl-1"><%= part.price.to_money.format.html_safe %></span>
    <% end %>
  <% end %>
</td>
<td class="has-inner-table">
  <table>
    <tbody id="production_<%= model.id %>">
    <% model.production_provides.each do |production_provide| %>
      <tr>
        <td><%= production_provide.provide.name %></td>
        <td><%= production_provide.cost_price.to_money.format.html_safe %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</td>
