<td><%= model.name %></td>
<td class="has-inner-table">
  <% model.parts.each do |part| %>
    <%= button_to({ controller: 'productions', action: 'show', product_id: part.product_id, id: part.id }, class: 'tag is-info') do %>
      <span><%= part.name %></span>
      <span class="pl-1"><%= part.price.to_money.format.html_safe %></span>
    <% end %>
  <% end %>
</td>
<td colspan="2">
  <%=  %>
</td>
