<% content_for :breadcrumb do %>
<ul>
  <li><%= link_to '返回', admin_facilitates_path %></li>
  <%# link_to @good.name, admin_facilitate_path(@good), class: 'section' %>
  <li class="is-active">编辑</li>
</ul>
<% end %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= GoodProvider.human_attribute_name(:provider) %></th>
      <th><%= GoodProvider.human_attribute_name(:export_price) %></th>
      <th><%= GoodProvider.human_attribute_name(:verified) %></th>
      <th><%= GoodProvider.human_attribute_name(:selected) %></th>
      <th><%= GoodProvider.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @good_providers.each do |good_provider| %>
    <tr>
      <td><%= good_provider.provider.name %></td>
      <td><%= good_provider.export_price %></td>
      <td>
        <span class="ui toggle checkbox">
          <%=
            check_box_tag(
              :verified,
              nil,
              good_provider.verified,
              data: {
                url: admin_good_provider_path(params[:good_type], params[:good_id], good_provider.id),
                method: :patch,
                remote: true,
                params: "[good_provider]verified=#{!good_provider.verified}"
              }
            )
          %>
        </span>
      </td>
      <td>
        <span class="ui toggle checkbox">
          <%= check_box_tag :selected, nil, good_provider.selected,
                            data: {
                              url: select_admin_good_provider_path(params[:good_type], params[:good_id], good_provider.id),
                              method: :patch,
                              remote: true,
                              params: "[good_provider]selected=#{!good_provider.selected}"
                            }
          %>
        </span>
      </td>
      <td><time><%= good_provider.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to admin_good_provider_path(params[:good_type], params[:good_id], good_provider), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @good_providers %>
