

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= GoodProvider.human_attribute_name(:provider) %></th>
      <th><%= GoodProvider.human_attribute_name(:export_price) %></th>
      <th><%= GoodProvider.human_attribute_name(:verified) %></th>
      <th><%= GoodProvider.human_attribute_name(:selected) %></th>
      <th><%= GoodProvider.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @good_providers.each do |good_provider| %>
    <tr>
      <td><%= good_provider.provider.name %></td>
      <td><%= good_provider.export_price %></td>
      <td>
        <span class="ui toggle checkbox">
          <%= check_box_tag('[good_provider]verified', nil, good_provider.verified, data: { method: :patch, remote: true, url: admin_good_provider_path(params[:good_type], params[:good_id], good_provider.id), submit: true }) %>
        </span>
      </td>
      <td>
        <span class="ui toggle checkbox">
          <%= check_box_tag '[good_provider]selected', nil, good_provider.selected, data: { method: :patch, remote: true, url: select_admin_good_provider_path(params[:good_type], params[:good_id], good_provider.id), submit: true } %>
        </span>
      </td>
      <td><time><%= good_provider.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to admin_good_provider_path(params[:good_type], params[:good_id], good_provider), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @good_providers %>
