<div class="ui segment breadcrumb">
  <%= link_to 'Back', my_customs_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Show</div>
</div>

<table class="ui very basic large table">
  <tbody>
    <tr>
      <td class="right aligned"><%= Custom.human_attribute_name(:name) %></td>
      <td><%= @custom.name %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Custom.human_attribute_name(:customer) %></td>
      <td><%= @custom.customer %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Custom.human_attribute_name(:state) %></td>
      <td><%= @custom.state %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Custom.human_attribute_name(:qr_code) %></td>
      <td><%= @custom.qr_code %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Custom.human_attribute_name(:ordered_at) %></td>
      <td><%= @custom.ordered_at %></td>
    </tr>
  </tbody>
</table>
