<td>
  <%= link_to({ action: 'show', id: model.id }, class: 'is-several') do %>
    <%= image_tag model.product.logo, class: 'image is-24x24' if model.product.logo.attached? %>
    <span><%= model.name %></span>
  <% end %>
</td>
<td><%= model.organ.name %></td>
<td>
  <table class="table is-borderless">
  <% model.parts.each do |part| %>
    <tr>
      <td><span class="tag"><%= link_to part.name, { controller: 'products', action: 'show', id: part.id } %></span></td>
      <td><%# part.price %></td>
    </tr>
  <% end %>
  </table>
</td>
<td><%= model.price.to_money.format.html_safe %></td>
<td class="has-text-centered">
<% if item = @cart.organ_item(good_id: model.id, produce_on: params[:produce_on], scene_id: params[:scene_id]) %>
  <%= render partial: 'cart', locals: { model: model, item_con: 'trade/in/items', item: item } %>
<% else %>
  <%= render partial: 'add_cart', locals: { model: model, item_con: 'trade/in/items', cart: @cart } %>
<% end %>
</td>
<td>
  <%# link_to({ controller: 'productions', action: 'part', id: model.id }, aria: { label: t('factory.admin.productions.part.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-cube"></i>
  <%# end %>
</td>
