<th><%= Factory::StockLog.human_attribute_name(:title) %></th>
<th><%= Factory::StockLog.human_attribute_name(:tag_str) %></th>
<th><%= Factory::StockLog.human_attribute_name(:amount) %></th>
<th><%= Factory::StockLog.human_attribute_name(:stock) %></th>
<th>
  <p><%= Factory::StockLog.human_attribute_name(:source_type) %></p>
  <p><%= Factory::StockLog.human_attribute_name(:source_id) %></p>
</th>
<th><%= Factory::StockLog.human_attribute_name(:created_at) %></th>
