<%= form_with theme: 'modal', model: @taxon, url: { action: 'update', **params.permit(:factory_taxon_id) } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= render 'error_messages', target: f.object %>
    <%= f.collection_select :factory_taxon_id, @factory_taxons, :id, :name %>
    <%= render partial: 'form', locals: { f: f } %>
  </section>
  <%= f.submit %>
<% end %>
