<%= form_with theme: 'modal', model: @production_provide, url: { action: 'create' } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= render 'error_messages', target: f.object  %>
    <%= f.collection_select :provide_id, @provides, :id, :name %>
    <%= f.number_field :cost_price %>
  </section>
  <%= f.submit %>
<% end %>
