<%= render 'shared/error_messages', target: @part_plan %>
<div class="inline fields">
  <%= f.label :start_at %>
  <div class="four wide field">
    <%= f.date_field 'start_at(date)', on: { wrap_input: false, wrap_all: false }, label: false, required: true %>
  </div>
  <div class="three wide field">
    <%= f.time_select :start_at, start_hour: 8, end_hour: 18, minute_step: 30, default: {hour: 8, min: 30} %>
  </div>
</div>
<div class="inline fields">
  <%= f.label :finish_at %>
  <div class="four wide field">
    <%= f.date_field 'finish_at(date)', on: { wrap_input: false, wrap_all: false }, label: false, required: true %>
  </div>
  <div class="three wide field">
    <%= f.time_select :finish_at, start_hour: 8, end_hour: 18, minute_step: 30, default: { hour: 17, min: 30 } %>
  </div>
</div>
<%= f.text_field :state %>
<%= f.text_field :purchased_count %>
<%= f.submit %>
