<div>
  <dt><%= Factory::PartPlan.human_attribute_name(:part_id) %></dt>
  <dd><%= @part_plan.part_id %></dd>
</div>
<div>
  <dt><%= Factory::PartPlan.human_attribute_name(:start_at) %></dt>
  <dd><time data-controller="time"><%= @part_plan.start_at.to_fs(:iso8601) %></time></dd>
</div>
<div>
  <dt><%= Factory::PartPlan.human_attribute_name(:finish_at) %></dt>
  <dd><time data-controller="time"><%= @part_plan.finish_at.to_fs(:iso8601) %></time></dd>
</div>
<div>
  <dt><%= Factory::PartPlan.human_attribute_name(:state) %></dt>
  <dd><%= @part_plan.state %></dd>
</div>
<div>
  <dt><%= Factory::PartPlan.human_attribute_name(:purchased_count) %></dt>
  <dd><%= @part_plan.purchased_count %></dd>
</div>
