<tr>
  <td class="has-text-right"><%= PartPlan.human_attribute_name(:part_id) %></td>
  <td><%= @part_plan.part_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= PartPlan.human_attribute_name(:start_at) %></td>
  <td><%= @part_plan.start_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= PartPlan.human_attribute_name(:finish_at) %></td>
  <td><%= @part_plan.finish_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= PartPlan.human_attribute_name(:state) %></td>
  <td><%= @part_plan.state %></td>
</tr>
<tr>
  <td class="has-text-right"><%= PartPlan.human_attribute_name(:purchased_count) %></td>
  <td><%= @part_plan.purchased_count %></td>
</tr>
