<%= form_with theme: 'modal', model: @factory_provider, url: { action: 'create' } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= render 'error_messages', target: f.object  %>
    <%= render partial: 'provider_search', locals: { f: f } %>
  </section>
  <%= f.submit %>
<% end %>
