<td><%= model.part_id %></td>
<td><%= model.qr_code %></td>
<td>
  <% if model.qr_file.attached? %>
    <%= image_tag model.qr_file.variant(resize: '100x100'), class: 'ui image' %>
  <% end %>
</td>
<td><%= model.received_at %></td>
<td><%= model.state_i18n %></td>
