<%= link_to({ controller: 'productions', scene_id: model.scene_id, produce_on: model.produce_on }, class: 'column is-half-mobile has-text-grey') do %>
  <p class="is-size-7 has-text-centered">
    <span>预定截止：</span>
    <span><%= extra_distance_date(model.produce_on) %></span>
    <time><%= model.scene.book_finish_at.to_fs(:time) %></time>
  </p>
  <p class="is-size-7 has-text-centered">
    <span>配送时间：</span>
    <time><%= model.scene.deliver_start_at.to_fs(:time) %></time>
    <span>~</span>
    <time><%= model.scene.deliver_finish_at.to_fs(:time) %></time>
  </p>
  <div class="is-flex is-justify-content-center">
    <div class="button is-light mt-2 pl-0">
      <span class="icon">
        <%= image_tag model.scene.logo, class: 'image is-32x32' if model.scene.logo.attached? %>
      </span>
      <div class="">
        <span><%= model.scene.title %></span>
      </div>
    </div>
  </div>
<% end %>
