<div>
  <dt><%= Factory::ProductPart.human_attribute_name(:part_taxon_id) %></dt>
  <dd><%= @product_part.part_taxon_id %></dd>
</div>
<div>
  <dt><%= Factory::ProductPart.human_attribute_name(:part_id) %></dt>
  <dd><%= @product_part.part_id %></dd>
</div>
<div>
  <dt><%= Factory::ProductPart.human_attribute_name(:default) %></dt>
  <dd><%= @product_part.default %></dd>
</div>
