<%= link_to({ controller: 'taxons' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-gift-card fa-fw text-warning"></i>
    <span><%= t('factory.admin.taxons.index.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<%= link_to({ controller: 'products' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-gift-card fa-fw text-warning"></i>
    <span><%= t('factory.admin.products.index.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<%= link_to({ controller: 'scenes' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-gift-card fa-fw text-warning"></i>
    <span><%= t('factory.admin.scenes.index.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<%= link_to({ controller: 'taxons' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-gift-card fa-fw text-warning"></i>
    <span><%= t('factory.admin.factory_taxons.index.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
