<td>
  <div class="is-several">
    <%= image_tag model.member.avatar.variant(resize_to_limit: [35, 35]), class: 'image is-24x24' if model.member.avatar.attached? %>
    <%= link_to model.member.name, { action: 'show', id: model } %>
  </div>
  <p class="has-text-grey"><%= model.member.identity %></p>
</td>
<td>
<% model.trade_items.each do |trade_item| %>
  <p>
    <span><%= trade_item.good_name %></span>
    <span><%= trade_item.single_price.to_money.format(html_wrap: true).html_safe %></span>
  </p>
<% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :enabled, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
