<div class="is-flex">
  <%= form_with theme: nil, model: trade_item, url: { controller: 'trade_items', action: 'toggle', id: trade_item.id }, data: { controller: 'input' }, class: 'is-inline' do |f| %>
    <%= f.check_box :status, { checked: trade_item.status_checked?, data: { action: 'click->input#form' }, id: nil }, trade_item.id %>
  <% end %>
  <span><%= trade_item.good_name %></span>
  <span><%= trade_item.single_price.to_money.format(html_wrap: true).html_safe %></span>
  <span><%= trade_item.amount.to_money.format(html_wrap: true).html_safe %></span>
  <%= render partial: 'cart', locals: { trade_item: trade_item } %>
</div>
