<%= button_to({ action: 'edit', id: model.id }, class: 'cell has-column-centered') do %>
  <i class="fa-solid fa-pencil"></i>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= button_to({ action: 'destroy', id: model.id }, method: :delete, data: { turbo_confirm: t('.destroy.confirm') }, class: 'color-danger', form: { class: 'cell weui-actionsheet__cell_warn' }) do %>
  <i class="fa-solid fa-trash"></i>
  <span><%= t('.destroy.title') %></span>
<% end %>
<%= link_to({ controller: 'production_items', production_plan_id: model.id }, class: 'cell has-column-centered') do %>
  <i class="fa-regular fa-list-timeline"></i>
  <span><%= t('factory.admin.production_items.index.title') %></span>
  <span class="text-grey">（<%= model.production_items_count %>）</span>
<% end %>
