<div>
  <dt><%= Factory::ProductionPlan.human_attribute_name(:product_id) %></dt>
  <dd><%= @production_plan.product_id %></dd>
</div>
<div>
  <dt><%= Factory::ProductionPlan.human_attribute_name(:start_at) %></dt>
  <dd><time data-controller="time"><%= @production_plan.start_at&.to_fs(:iso8601) %></time></dd>
</div>
<div>
  <dt><%= Factory::ProductionPlan.human_attribute_name(:finish_at) %></dt>
  <dd><time data-controller="time"><%= @production_plan.finish_at&.to_fs(:iso8601) %></time></dd>
</div>
<div>
  <dt><%= Factory::ProductionPlan.human_attribute_name(:state) %></dt>
  <dd><%= @production_plan.state_i18n %></dd>
</div>
<div>
  <dt><%= Factory::ProductionPlan.human_attribute_name(:planned_count) %></dt>
  <dd><%= @production_plan.planned_count %></dd>
</div>
