<div class="weui-tabbar weui-tabbar_fixed">
  <%= link_to({ controller: 'trade/my/carts', action: 'show' }, class: 'weui-tabbar__item') do %>
    <i class="fa-light fa-cart-shopping weui-tabbar__icon">
      <span class="weui-badge" style="right: 1em"><%= current_cart_count %></span>
    </i>
    <div class="weui-tabbar__label">购物车</div>
  <% end %>
  <div class="weui-tabbar__item">
    <%= form_with theme: nil, url: { controller: 'trade/my/carts', action: 'add' } do |f| %>
      <%= f.hidden_field :good_type, value: @production.class_name %>
      <%= f.hidden_field :good_id, value: @production.id %>
      <%= f.submit t('.add'), class: 'weui-btn weui-btn_danger' %>
    <% end %>
  </div>
</div>
