<tr>
  <td><%= product_plan.produce_plan&.title %></td>
  <td>
    <p><time data-controller="time"><%= product_plan.start_at.to_s(:rfc822) %></time></p>
    <p><time data-controller="time"><%= product_plan.finish_at.to_s(:rfc822) %></time></p>
  </td>
  <td><%= product_plan.state_i18n %></td>
  <td><%= product_plan.planned_count %></td>
  <td>
    <%= link_to product_plan.produced_count, admin_product_items_path(@product, product_plan_id: product_plan.id) %>
  </td>
  <td>
    <%= link_to({ action: 'show', id: product_plan.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-eye"></i>
    <% end %>
    <%= link_to({ controller: 'customs', product_plan_id: product_plan.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-cube"></i>
    <% end %>
    <%= link_to({ action: 'edit', id: product_plan.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: product_plan.id }, method: :delete, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
