<th><%= Factory::ProductPlan.human_attribute_name(:produce_plan_id) %></th>
<th>
  <p><%= Factory::ProductPlan.human_attribute_name(:start_at) %></p>
  <p><%= Factory::ProductPlan.human_attribute_name(:finish_at) %></p>
</th>
<th><%= Factory::ProductPlan.human_attribute_name(:state) %></th>
<th><%= Factory::ProductPlan.human_attribute_name(:planned_count) %></th>
<th><%= Factory::ProductPlan.human_attribute_name(:produced_count) %></th>
<th></th>
