<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('factory.admin.products.index.title'), admin_products_path, class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <div class="active section"><%= t('.title') %></div>
  </div>
<% end %>

<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= ProductPlan.human_attribute_name(:start_at) %></th>
      <th><%= ProductPlan.human_attribute_name(:finish_at) %></th>
      <th><%= ProductPlan.human_attribute_name(:state) %></th>
      <th><%= ProductPlan.human_attribute_name(:planned_count) %></th>
      <th><%= ProductPlan.human_attribute_name(:produced_count) %></th>
      <th>
        <%= link_to new_admin_product_plan_path, remote: true, class: 'ui teal button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @product_plans.each do |product_plan| %>
    <tr>
      <td><time><%= product_plan.start_at.to_s(:rfc822) %></time></td>
      <td><time><%= product_plan.finish_at.to_s(:rfc822) %></time></td>
      <td><%= product_plan.state_i18n %></td>
      <td><%= product_plan.planned_count %></td>
      <td>
        <%= link_to product_plan.produced_count, admin_product_items_path(@product, product_plan_id: product_plan.id) %>
      </td>
      <td>
        <%= link_to admin_product_plan_path(@product, product_plan), remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to admin_customs_path(product_plan_id: product_plan.id), class: 'ui mini circular icon button' do %>
          <i class="fas fa-cube"></i>
        <% end %>
        <%= link_to edit_admin_product_plan_path(@product, product_plan), remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_product_plan_path(@product, product_plan), method: :delete, data: { confirm: t('.confirm') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @product_plans %>
