<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_product_plans_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Show</div>
</div>

<table class="table is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <td class="has-text-right"><%= ProductPlan.human_attribute_name(:product_id) %></td>
      <td><%= @product_plan.product_id %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= ProductPlan.human_attribute_name(:start_at) %></td>
      <td><%= @product_plan.start_at %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= ProductPlan.human_attribute_name(:finish_at) %></td>
      <td><%= @product_plan.finish_at %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= ProductPlan.human_attribute_name(:state) %></td>
      <td><%= @product_plan.state %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= ProductPlan.human_attribute_name(:planned_count) %></td>
      <td><%= @product_plan.planned_count %></td>
    </tr>
  </tbody>
</table>
