<div class="media" data-controller="swipe" data-action="touchmove->swipe#left touchstart->swipe#start">
  <div class="media-left">
    <%= image_tag custom.product.logo, class: 'image is-64x64' if custom.product.logo.attached? %>
  </div>
  <div class="media-content">
    <h4 class="weui-media-box__title"><%= custom.product.name %></h4>
    <p class="weui-media-box__desc">
      <% custom.parts.each do |part| %>
        <span><%= part.name %></span>
      <% end %>
    </p>
    <ul class="weui-media-box__info">
      <li class="weui-media-box__info__meta">
        <span><%= custom.price %></span>
      </li>
      <li class="weui-media-box__info__meta">
        <%= link_to edit_my_custom_path(custom), aria: { label: t('.edit.title') } do %>
          <i class="fa-solid fa-pencil weui-icon"></i>
        <% end %>
        <%= link_to cart_my_custom_path(custom), method: :post, aria: { label: t('.new.title') } do %>
          <i class="fa-solid fa-plus weui-icon"></i>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="media-right" data-swipe-target="open">
    <%= link_to '删除', my_custom_path(custom), method: :delete, data: { turbo_confirm: t('.confirm') }, class: 'weui-btn weui-btn_mini weui-btn_warn' %>
  </div>
</div>
