<%= render layout: 'index_table', locals: { cache_key: Part.column_names.hash } do %>
  <% @parts.group_by(&:part_taxon).each do |taxon, parts| %>
    <tr>
      <td rowspan="<%= taxon.parts_count + 1 %>"><%= taxon.name %></td>
    </tr>
    <%= render partial: 'index_tbody', collection: parts, as: :part %>
  <% end %>
<% end %>

<%= paginate @parts %>
