<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= Custom.human_attribute_name(:product_name) %></th>
      <th><%= Custom.human_attribute_name(:state) %></th>
      <th><%= Custom.human_attribute_name(:qr_code) %></th>
      <th><%= Custom.human_attribute_name(:parts) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @customs.each do |custom| %>
    <tr>
      <td><%= custom.product.name %></td>
      <td><%= custom.state %></td>
      <td><%= custom.qr_code %></td>
      <td class="ui labels">
        <table class="ui very basic compact table">
          <% custom.parts.each do |part| %>
            <tr>
              <td><span class="ui label"><%= link_to part.name, admin_part_path(part), target: '_blank' %></span></td>
              <td><%= part.price %></td>
            </tr>
          <% end %>
        </table>
      </td>
      <td>
        <%= link_to admin_custom_path(custom), data: { tooltip: t('.show') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to admin_custom_trade_items_path(custom), data: { tooltip: t('factory.admin.trade_items.index.title') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-shopping-cart"></i>
        <% end %>
        <%= link_to admin_custom_addresses_path(custom), data: { tooltip: t('factory.admin.addresses.index.title') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-map-marker-alt"></i>
        <% end %>
        <%= link_to edit_admin_custom_path(custom), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_custom_path(custom), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @customs %>
