<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_customs_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="active section">Show</div>
</div>

<table class="table is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <td class="has-text-right"><%= Custom.human_attribute_name(:name) %></td>
      <td><%= @custom.name %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Custom.human_attribute_name(:state) %></td>
      <td><%= @custom.state %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Custom.human_attribute_name(:qr_code) %></td>
      <td><%= @custom.qr_code %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Custom.human_attribute_name(:ordered_at) %></td>
      <td><%= @custom.ordered_at %></td>
    </tr>
  </tbody>
</table>
