<td>
  <%= link_to({ controller: 'production_items', production_id: model.id }) do %>
    <p class="is-several">
      <%= image_tag model.logo.variant(resize_to_limit: [24, 24]), class: 'image is-24x24' if model.logo.attached? %>
      <span><%= model.name %></span>
    </p>
    <p class="text-grey"><%= model.title %></p>
  <% end %>
</td>
<td>
<div class="button_tos is-column">
  <% model.production_parts.each do |production_part| %>
    <%= button_to({ controller: 'production_parts', action: 'show', production_id: production_part.production_id, id: production_part.id }, class: 'text-info') do %>
      <span><%= production_part.part.name %></span>
      <span>x</span>
      <span><%= production_part.number %></span>
      <span class="ml-1"><%= production_part.part.price.to_money.format.html_safe %></span>
    <% end %>
  <% end %>
  <%= button_to({ action: 'part', id: model.id }, data: { show_target: 'item' }, class: 'visibility-hidden') do %>
    <i class="fa-solid fa-sm fa-cube text-grey"></i>
    <span class="ml-1 text-grey size-7"><%= t('.productions.part.title') %></span>
  <% end %>
</div>
</td>
<td style="--money-width: <%= model.max_indent %>ch">
  <div>
    <span><%= model.cost_price.to_money.format.html_safe %></span>
    <%= button_to({ action: 'cost', id: model.id }, data: { show_target: 'item' }, aria: { label: t('factory.admin.productions.cost.title') }, class: 'visibility-hidden') do %>
      <i class="fa-solid fa-fw fa-sm fa-tags text-grey"></i>
    <% end %>
  </div>
  <div>
    <span><%= model.profit_price.to_money.format.html_safe %></span>
    <%= button_to({ action: 'price', id: model.id }, data: { show_target: 'item' }, aria: { label: t('factory.admin.productions.price.title') }, class: 'visibility-hidden') do %>
      <i class="fa-solid fa-fw fa-sm fa-tags text-grey"></i>
    <% end %>
  </div>
  <div class="text-danger">
    <span class="mr-5"><%= model.price.to_money.format.html_safe %></span>
  </div>
</td>
<td>
  <div class="tags-group">
  <% model.card_price.each do |key, value| %>
    <div class="tags has-addons is-tag-price control mb-0">
      <div class="tag is-success"><%= key %></div>
      <div class="tag is-light"><%= value.to_money.format.html_safe %></div>
    </div>
  <% end %>
  </div>
  <%= button_to({ action: 'card', id: model.id }, data: { show_target: 'item' }, aria: { label: t('factory.admin.productions.card.title') }) do %>
    <i class="fa-solid fa-pencil fa-sm text-grey"></i>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, scope: :production, url: { action: 'refresh', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :default, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
  <%= form_with theme: nil, model: model, scope: :production, url: { action: 'update', id: model.id }, data: { controller: 'input' }, class: 'mt-3' do |f| %>
    <%= f.check_box :presell, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <p><%= link_to model.stock, { controller: 'stock_logs', production_id: model.id } if model.stock %></p>
  <p><%= model.step %></p>
</td>
<td>
  <%= form_with theme: nil, model: model, scope: :production, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :enabled, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
