<td>
  <%= link_to({ controller: 'production_items', production_id: model.id }, class: 'is-several') do %>
    <%= image_tag model.logo, class: 'image is-24x24' if model.logo.attached? %>
    <span><%= model.name %></span>
  <% end %>
  <p class="color-grey"><%= model.title %></p>
</td>
<td>
<div class="button_tos is-column">
  <% model.parts.each do |part| %>
    <%= button_to({ controller: 'productions', action: 'show', product_id: part.product_id, id: part.id }, class: 'button is-small is-info') do %>
      <span><%= part.name %></span>
      <span class="pl-1"><%= part.price.to_money.format.html_safe %></span>
    <% end %>
  <% end %>
  <%= button_to({ action: 'part', id: model.id }, data: { show_target: 'item' }, aria: { label: t('factory.admin.productions.part.title') }, class: 'visibility-hidden') do %>
    <i class="fa-solid fa-sm fa-cube color-grey"></i>
  <% end %>
</div>
</td>
<td style="--money-width: <%= model.max_indent %>ch">
  <div>
    <span><%= model.cost_price.to_money.format.html_safe %></span>
    <%= button_to({ action: 'cost', id: model.id }, data: { show_target: 'item' }, aria: { label: t('factory.admin.productions.cost.title') }, class: 'visibility-hidden') do %>
      <i class="fa-solid fa-fw fa-sm fa-tags color-grey"></i>
    <% end %>
  </div>
  <div>
    <span><%= model.profit_price.to_money.format.html_safe %></span>
    <%= button_to({ action: 'price', id: model.id }, data: { show_target: 'item' }, aria: { label: t('factory.admin.productions.price.title') }, class: 'visibility-hidden') do %>
      <i class="fa-solid fa-fw fa-sm fa-tags color-grey"></i>
    <% end %>
  </div>
  <div class="color-danger">
    <span class="mr-5"><%= model.price.to_money.format.html_safe %></span>
  </div>
</td>
<td>
  <div class="tags-group">
  <% model.card_price.each do |key, value| %>
    <div class="tags has-addons is-tag-price control mb-0">
      <div class="tag is-success"><%= key %></div>
      <div class="tag is-light"><%= value.to_money.format.html_safe %></div>
    </div>
  <% end %>
  </div>
  <%= button_to({ action: 'card', id: model.id }, data: { turbo_frame: 'modal', show_target: 'item' }, aria: { label: t('factory.admin.productions.card.title') }) do %>
    <i class="fa-solid fa-pencil fa-sm color-grey"></i>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, scope: :production, url: { action: 'update', id: model.id }, data: { controller: 'input', turbo_scroll: true } do |f| %>
    <%= f.check_box :default, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
  <%= form_with theme: nil, model: model, scope: :production, url: { action: 'update', id: model.id }, data: { controller: 'input', turbo_scroll: true } do |f| %>
    <%= f.check_box :presell, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <p><%= link_to model.stock, { controller: 'stock_logs', production_id: model.id } if model.stock %></p>
  <p><%= model.step %></p>
</td>
<td>
  <%= form_with theme: nil, model: model, scope: :production, url: { action: 'update', id: model.id }, data: { controller: 'input', turbo_scroll: true } do |f| %>
    <%= f.check_box :enabled, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
