<th colspan="2">
  <p><%= Factory::Production.human_attribute_name(:name) %></p>
  <p><%= Factory::Production.human_attribute_name(:title) %></p>
</th>
<th>
  <p><%= Factory::Production.human_attribute_name(:cost_price) %></p>
  <p><%= Factory::Production.human_attribute_name(:profit_price) %></p>
  <p><%= Factory::Production.human_attribute_name(:price) %></p>
</th>
<th><%= Factory::Production.human_attribute_name(:card_price) %></th>
<th>
  <p><%= Factory::Production.human_attribute_name(:default) %></p>
  <p><%= Factory::Production.human_attribute_name(:presell) %></p>
</th>
<th><%= Factory::Production.human_attribute_name(:stock) %></th>
<th><%= Factory::Production.human_attribute_name(:enabled) %></th>
