<div data-controller="slide" data-slide-debug-value="true" data-slide-delay-value="3" data-slide-target="container" class="slide is-1by1 is-boxed mx-3 mt-3">
<% model.covers.each_with_index do |cover, index| %>
  <figure class="image" data-action="touchmove->slide#move:passive touchend->slide#end:passive" data-index="<%= index %>">
    <% if cover.content_type.to_s.start_with?('video') %>
      <%= video_tag cover.url, controls: true %>
    <% else %>
      <%= image_tag cover %>
    <% end %>
    <figcaption><%= index + 1 %>/<%= model.covers.count %></figcaption>
  </figure>
<% end %>
</div>
