<div class="box is-padding-less mt-3">
  <div class="weui-panel__hd">预定</div>
  <div class="weui-panel__bd">
    <div class="level is-mobile justify-content-space-between px-4 my-4">
      <div class="level-left">
        <span><%= extra_distance_date(@produce_on) %></span>
        <span class="text-weight-normal text-grey size-7"><%= @produce_on %></span>
        <span class="text-weight-normal text-grey size-7"><%= @produce_on.to_fs(:week) %></span>
      </div>
      <div class="level-right mt-0">
        <%= link_to({ controller: '/factory/produce_plans' }) do %>
          <span>更多</span>
          <i class="fa-solid fa-angle-right"></i>
        <% end %>
      </div>
    </div>
    <div class="columns is-multiline flex m-0">
      <%= render partial: 'scene', collection: @scenes, as: :scene, locals: { produce_on: @produce_on } %>
    </div>
  </div>
</div>
