<dl id="product_summary_<%= production.product_id %>" class="as-show is-fullwidth px-0 is-interval">
<% cart.find_items(production.brother_ids, good_type: production.base_class_name, **options).each do |item| %>
  <div data-id="<%= item.id %>" style="background-color: <%= item.good_id == production.id ? '#eee' : 'auto' %>">
    <dt>
      <ul class="media-info display-inline-flex">
      <% item.good.production_parts.includes(:part).each do |production_part| %>
        <li>
          <span><%= production_part.part.name %></span>
          <% if production_part.number.to_i > 1 %>
            <span>x <%= production_part.number %></span>
          <% end %>
        </li>
      <% end %>
      </ul>
    </dt>
    <dd class="text-right">
      <%= render partial: 'cart_new', locals: { item: @cart.init_cart_item(params, good_id: item.good_id), item_con: item_con, cart: @cart } %>
    </dd>
  </div>
<% end %>
</dl>