<table id="product_summary_<%= production.product_id %>" class="table is-embed is-interval is-fullwidth align-self-flex-start text-grey">
<% cart.find_items(production.brother_ids, good_type: production.base_class_name, **options).each do |item| %>
  <tr data-id="<%= item.id %>">
    <td>
      <ul class="media-info display-inline-flex">
        <% item.good.production_parts.includes(:part).each do |production_part| %>
          <li>
            <span><%= production_part.part.name %></span>
            <% if production_part.number.to_i > 1 %>
              <span>x <%= production_part.number %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </td>
    <td class="text-right">
      <span><%= item.number.to_human %></span>
      <span class="text-grey-light">份</span>
    </td>
    <td class="text-right" style="width: 6em; padding: 0">
      <% if item.good_id == production.id %>
        <div class="button is-small">
          <i class="fa-solid fa-check text-success"></i>
          <span class="ml-1">当前商品</span>
        </div>
      <% else %>
        <%= button_to({ action: 'show', id: item.good_id }, params: { dispatch: params[:dispatch].presence || current_organ.dispatch }, class: 'button is-small is-rounded') do %>
          <span>选择</span>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>