<div id="production_<%= model.id %>" data-controller="common" class="media is-box">
  <%= link_to({ controller: '/factory/productions', action: 'show', id: model.id }, text: true, data: { controller: 'empty' }, class: 'media-left as-logo') do %>
    <%= image_tag model.product.logo, class: 'image is-64x64' if model.product.logo.attached? %>
  <% end %>
  <div class="media-content as-body">
    <%= link_to({ controller: '/factory/productions', action: 'show', id: model.id }, text: true, class: 'text-grey-dark') do %>
      <% if model.product.brand %><span class="tag is-light is-danger"><%= model.product.brand&.name %></span><% end %>
      <span><%= model.title %></span>
    <% end %>
    <%= link_to({ controller: '/factory/productions', action: 'show', id: model.id }, text: true, class: 'text-grey size-0_9 display-block mt-1') do %>
      <%= model.product.description %>
    <% end %>
    <ul class="media-info mt-1">
      <% model.parts.group_by(&->(i){ i.taxon_id }).each do |_, parts| %>
        <% parts.each_with_index do |part, _| %>
          <li><%= part.name %></li>
        <% end %>
      <% end %>
    </ul>
    <% r = model.card_price_min(@cart) %>
    <% if @cart && r.present? %>
      <% if r[:checked] %>
      <div class="has-block-space-between mt-1">
        <div class="has-inline-centered">
          <div class="tags has-addons is-price control m-0">
            <div class="tag is-light text-danger"><%= r[:price].to_money.format.html_safe %></div>
            <div class="tag is-danger">
              <span style="padding-left: 1px"><%= r[:name] %></span>
              <i class="fa-solid fa-badge-check"></i>
            </div>
          </div>
        </div>
        <%= yield %>
      </div>
      <% else %>
        <div class="has-block-space-between mt-1">
          <div class="tags has-addons is-price control m-0">
            <div class="tag is-light"><%= r[:price].to_money.format.html_safe %></div>
            <div class="tag is-success"><%= r[:name] %></div>
          </div>
          <%= yield %>
        </div>
      <% end %>
    <% elsif !model.presell %>
      <div class="has-block-space-between py-1">
        <div class="has-inline-centered">
          <span class="text-danger"><%= model.price.to_money.format.html_safe %></span>
        </div>
        <%= yield %>
      </div>
    <% end %>
  </div>
</div>
