<%= link_to({ controller: '/factory/productions', scene_id: scene.id, produce_on: produce_on }, class: 'column is-half-mobile text-grey') do %>
  <div class="column_box py-3">
    <p class="size-7">
      <span>预定截止：</span>
      <span class="<%= scene.bookable?(produce_on) ? 'text-success' : 'text-danger' %>">
        <span><%= extra_distance_date(produce_on) %></span>
        <time><%= scene.book_finish_at.to_fs(:time) %></time>
      </span>
    </p>
    <p class="size-7">
      <span>配送时间：</span>
      <time><%= scene.deliver_start_at.to_fs(:time) %></time>
      <span>~</span>
      <time><%= scene.deliver_finish_at.to_fs(:time) %></time>
    </p>
    <div class="pt-2">
      <div class="is-several">
        <%= image_tag scene.logo, class: 'image is-32x32' if scene.logo.attached? %>
        <strong><%= scene.title %></strong>
      </div>
    </div>
  </div>
<% end %>
