<td>
  <div class="is-several">
    <%= image_tag model.logo.variant(resize_to_limit: [24, 24]), class: 'image is-24x24' if model.logo.attached? %>
    <%= link_to({ controller: 'productions', product_id: model.id }, text: true) do %>
      <span><%= model.name %></span>
    <% end %>
  </div>
  <% if model.brand %>
    <p><span class="tag is-danger is-light"><%= model.brand.name %></span></p>
  <% end %>
</td>
<td><%= model.base_price.to_money.format.html_safe %></td>
<td>
<% model.productions[0..2].each do |production| %>
  <p>
    <span><%= production.name %></span>
    <% if production.enabled %>
      <span class="tag is-success"><%= production.enabled_i18n %></span>
    <% end %>
  </p>
<% end %>
</td>
<td>
<% model.productions[0..2].each do |production| %>
  <p><%= production.stock.to_d %></p>
<% end %>
</td>
<td>
<% model.productions[0..2].each do |production| %>
  <p><%= production.price.to_money.format.html_safe %></p>
<% end %>
</td>
<td>
  <% model.product_components.each do |product_component| %>
    <p>
      <span><%= product_component.name %></span>
      <span class="text-grey size-7"><%= product_component.select_str %></span>
    </p>
  <% end %>
  <p data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'product_components', product_id: model.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-tree"></i>
      <span class="pl-1"><%= t('.product_components.index.title') %></span>
    <% end %>
  </p>
</td>
<td>
  <%= link_to({ controller: 'fits', product_id: model.id }, class: 'button is-small is-rounded is-light') do %>
    <span class="pl-1"><%= model.fits_count %></span>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, scope: :product, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :published, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
