<td>
  <div class="is-several">
    <%= image_tag model.logo.url, class: 'image is-32x32' if model.logo.attached? %>
    <%= link_to({ controller: 'productions', product_id: model.id }, text: true) do %>
      <span><%= model.name %></span>
    <% end %>
  </div>
</td>
<td><%= model.base_price.to_money.format.html_safe %></td>
<td>
<% model.productions.each do |production| %>
  <p>
    <span><%= production.name %></span>
    <% if production.enabled %>
      <span class="tag is-success"><%= production.enabled_i18n %></span>
    <% end %>
  </p>
<% end %>
</td>
<td>
<% model.productions.each do |production| %>
  <p><%= production.stock %></p>
<% end %>
</td>
<td>
<% model.productions.each do |production| %>
  <p><%= production.price.to_money.format.html_safe %></p>
<% end %>
</td>
<td>
  <% model.product_part_taxons.each do |product_part_taxon| %>
    <p>
      <span><%= product_part_taxon.name %></span>
      <span class="color-grey size-7"><%= product_part_taxon.select_str %></span>
    </p>
  <% end %>
  <p data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'product_part_taxons', product_id: model.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-tree"></i>
      <span class="pl-1"><%= t('.product_part_taxons.index.title') %></span>
    <% end %>
  </p>
</td>
<td>
  <%= link_to({ controller: 'fits', product_id: model.id }, class: 'button is-small is-rounded is-light') do %>
    <span class="pl-1"><%= model.fits_count %></span>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, scope: :product, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :published, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
