<div class="menu ex-accordion is-active">
  <%= link_to({ controller: 'factory/panel/home' }, text: true, class: 'menu-label') do %>
    <div>
      <i class="fa-solid fa-fw fa-store"></i>
      <span><%= t('factory.panel.title') %></span>
    </div>
  <% end %>
  <div class="menu-list">
    <%= link_to t('factory.panel.factory_taxons.index.title'), { controller: 'factory/panel/factory_taxons' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['factory_taxons', 'factory_providers'], active: 'is-active') %>
    <%= link_to t('factory.panel.unifiers.index.title'), { controller: 'factory/panel/unifiers' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['unifiers'], active: 'is-active') %>
    <%= link_to t('factory.panel.brands.index.title'), { controller: 'factory/panel/brands' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['brands', 'serials'], active: 'is-active') %>
    <%= link_to t('factory.panel.scenes.index.title'), { controller: 'factory/panel/scenes' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['scenes'], active: 'is-active') %>
  </div>
</div>
