<div class="weui-media-box weui-media-box_appmsg">
  <%= link_to({ action: 'show', id: model.id }, class: 'weui-media-box__hd') do %>
    <%= image_tag model.logo, class: 'weui-media-box__thumb' if model.logo.attached? %>
  <% end %>
  <%= link_to({ action: 'show', id: model.id }, class: 'weui-media-box__bd is-flex is-flex-direction-column') do %>
    <h4 class="weui-media-box__title"><%= model.name %></h4>
    <p class="weui-media-box__desc pt-0">
      <%= model.description %>
    </p>
    <ul class="weui-media-box__info mt-0">
      <% model.parts.group_by(&->(i){ i.part_taxon_id }).each do |_, parts| %>
        <% parts.each_with_index do |part, index| %>
          <li class="weui-media-box__info__meta<%= index == 0 ? ' weui-media-box__info__meta_extra' : '' %>"><%= part.name %></li>
        <% end %>
      <% end %>
    </ul>
    <div class="has-text-danger">
      <%= model.min_price.to_money.format(html_wrap: true).html_safe %>
      <% if model.min_price != model.max_price %>
        <span class="has-text-grey">~</span>
        <%= model.max_price.to_money.format(html_wrap: true).html_safe %>
      <% end %>
    </div>
  <% end %>
  <div class="weui-media-box__ft is-align-items-flex-end pr-2 pb-4">
    <%= form_with theme: nil, url: { controller: 'trade/my/carts', action: 'add' } do |f| %>
      <%= f.hidden_field :good_type, value: 'Factory::Production' %>
      <%= f.hidden_field :good_id, value: model.production.id %>
      <button class="button is-danger">
        <span class="icon is-small"><i class="fa-regular fa-cart-circle-plus fa-lg"></i></span>
      </button>
    <% end %>
  </div>
</div>
