<div class="slide" data-controller="slide">
  <% @product.covers.each_with_index do |cover, index| %>
    <%= render partial: 'figure', locals: { cover: cover, index: index } %>
  <% end %>
</div>

<div>
  <h1><%= @product.name %></h1>
</div>

<div id="sti">
  <span class="weui-btn weui-btn_primary" id="total_price"><%= @custom.price %></span>
</div>

<% @product.part_taxons.each do |part_taxon| %>
  <div class="weui-panel">
    <div class="weui-panel__hd">
      <span><%= part_taxon.name %></span>
      <span class="weui-panel__extra">选择范围：<%= part_taxon.min_select %> - <%= part_taxon.max_select %></span>
    </div>
    <div class="weui-panel__bd" data-controller="input" data-input-order="<%= (@custom.part_ids & part_taxon.part_ids).join(',') %>" data-input-range="<%= "#{part_taxon.min_select},#{part_taxon.max_select}" %>">
      <% part_taxon.parts.each do |part| %>
        <label class="weui-btn weui-btn_mini <%= @custom.part_ids.include?(part.id) ? 'weui-btn_primary' : 'weui-btn_default' %>" for="part_<%= part.id %>" id="part_<%= part.id %>_label">
          <span><%= part.name %></span>
          <span class="weui-btn__extra"><%= part.price %></span>
          <%= check_box_tag 'custom[part_ids][]', part.id, @custom.part_ids.include?(part.id), data: { action: 'input#toggle' }, class: 'weui-check', id: "part_#{part.id}", form: 'edit_custom' %>
        </label>
      <% end %>
    </div>
  </div>
<% end %>

<div class="weui-btn-area">
  <%= form_with theme: nil, url: add_my_cart_path do |f| %>
    <%= f.hidden_field :good_type, value: 'Custom' %>
    <%= f.hidden_field :good_id, value: @custom.id %>
    <%= f.submit t('helpers.submit.submit'), class: 'weui-btn weui-btn_primary' %>
  <% end %>
</div>
