<div data-controller="showcase">
  <div class="slide" data-showcase-target="window">
  <% @product.covers.each_with_index do |cover, index| %>
    <figure class="image" data-index="<%= index %>" style="z-index: <%= index == 0 ? 0 : -1 %>">
      <%= image_tag cover %>
    </figure>
  <% end %>
  </div>
  <div class="images is-flex">
  <% @product.covers.each_with_index do |cover, index| %>
    <figure class="image is-32x32 is-border" data-index="<%= index %>" data-action="mouseover->showcase#show">
      <%= image_tag cover %>
    </figure>
  <% end %>
  </div>
</div>

<div class="box is-radiusless" data-controller="sticky" style="z-index: 3">
  <div class="has-text-danger has-text-bold">
    <span><%= @production.price.to_money.symbol %></span>
    <span id="total_price"><%= @production.price.to_money.to_s %></span>
  </div>
</div>

<div class="box">
  <h1><%= @product.name %></h1>
</div>
