<div class="weui-panel weui-panel_access">
  <div class="weui-panel__hd" data-controller="sticky">
    <%= render 'breadcrumb' %>
  </div>
  <div class="weui-panel__bd">
    <%= render 'filter_form' %>
    <%= render partial: 'product', collection: @products, as: :model %>
  </div>

  <%= paginate @products %>
</div>

<%= render 'taxon' %>
