<%= render 'breadcrumb' %>

<div class="weui-panel weui-panel_access mt-0">
  <div class="weui-panel__bd">
    <%= render 'filter_form' %>
    <%= render partial: 'product', collection: @products, as: :model %>
  </div>

  <%= paginate @products %>
</div>

<%= render 'taxon' %>
