<div class="column is-half-mobile has-text-grey">
  <p class="is-size-7 has-text-centered">
    <span>预定截止：</span>
    <span><%= extra_distance_date(model.produce_on) %></span>
    <time><%= model.scene.book_finish_at.to_fs(:time) %></time>
  </p>
  <p class="is-size-7 has-text-centered">
    <span>配送时间：</span>
    <time><%= model.scene.deliver_start_at.to_fs(:time) %></time>
    <span>~</span>
    <time><%= model.scene.deliver_finish_at.to_fs(:time) %></time>
  </p>
  <div class="is-flex is-justify-content-center">
    <%= button_to({ controller: 'carts', action: 'actions', scene_id: model.scene_id, produce_on: model.produce_on }, class: 'button is-light mt-2 pl-0', disabled: model.expired?) do %>
      <span class="icon">
        <%= image_tag model.scene.logo, class: 'image is-32x32' if model.scene.logo.attached? %>
      </span>
      <div class="">
        <span><%= model.scene.title %></span>
      </div>
    <% end %>
  </div>
</div>
