<% if @produce_plan %>
<table class="as-search">
  <tr>
    <th>日期</th>
    <td>
      <% if @produce_plan.prev_plan %>
        <%= link_to({ produce_plan_id: @produce_plan.prev_plan.id, organ_id: params[:organ_id] }, class: 'button is-primary') do %>
          <span class="color-info">前一天</span>
          <span class="color-grey size-7 pl-1 flex flex-direction-column align-items-center">
            <span><%= @produce_plan.produce_on - 1 %></span>
            <span><%= (@produce_plan.produce_on - 1).to_fs(:week) %></span>
          </span>
          <i class="fa-solid fa-chevron-left color-info pl-1"></i>
        <% end %>
      <% end %>
      <div class="button is-primary">
        <span><%= @produce_plan.produce_on %></span>
        <span><%= @produce_plan.produce_on.to_fs(:week) %></span>
      </div>
      <% if @produce_plan.next_plan %>
        <%= link_to({ produce_plan_id: @produce_plan.next_plan.id, organ_id: params[:organ_id] }, class: 'button is-primary') do %>
          <span class="color-info">后一天</span>
          <span class="color-grey size-7 pl-1 flex flex-direction-column align-items-center">
            <span><%= @produce_plan.produce_on + 1 %></span>
            <span><%= (@produce_plan.produce_on + 1).to_fs(:week) %></span>
          </span>
          <i class="fa-solid fa-chevron-right color-info pl-1"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>
