<td>
  <div class="is-several">
    <%= image_tag model.avatar.variant(resize_to_limit: [35, 35]), class: 'image is-24x24' if model.avatar.attached? %>
    <%= link_to model.name, { action: 'show', id: model } %>
  </div>
  <p class="has-text-grey"><%= model.identity %></p>
</td>
<td>
<% model.cart_trade_items.each do |trade_item| %>
  <div>
    <%= form_with theme: nil, model: trade_item, url: { controller: 'trade_items', action: 'toggle', id: trade_item.id }, data: { controller: 'input' }, class: 'is-inline' do |f| %>
      <%= f.check_box :status, value: trade_item.status_checked? ? 'checked' : 'init', checked: trade_item.status_checked?, data: { action: 'click->input#form' }, id: nil %>
    <% end %>
    <span><%= trade_item.good_name %></span>
    <span><%= trade_item.produce_on %></span>
    <span><%= trade_item.single_price.to_money.format.html_safe %></span>
    <span><%= trade_item.amount.to_money.format.html_safe %></span>
  </div>
<% end %>
</td>
<td><%# model.amount.to_money.format.html_safe %></td>
<td>
  <%= render partial: 'cart', locals: { model: @production, member: model, trade_item: model.trade_items.find(&->(i){ i.good_type == @production.base_class_name && i.good_id == @production.id && i.produce_plan_id.to_s == params[:produce_plan_id].to_s }) } if @production %>
</td>
