<div class="level is-flex">
  <div class="level-left">
    <div class="level-item is-several">
      <%= image_tag model.avatar.variant(resize_to_limit: [35, 35]), class: 'image is-24x24' if model.avatar.attached? %>
      <div class="has-text-grey">
      <% if request.variant.any?(:work_wechat) %>
        <div data-open-data-target="tag" type="userName" openid="<%= model.name %>"></div>
      <% else %>
        <%= link_to model.name, { action: 'show', id: model } %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="level-right mt-0">
  <% unless @items.find(&->(i){ i.good_type == @production.class_name && i.good_id == @production.id && i.produce_on.to_s == params[:produce_on].to_s && i.scene_id.to_s == params[:scene_id].to_s }) %>
    <%= render partial: 'add_cart', locals: { model: @production, member: model } %>
  <% end if @production %>
  </div>
</div>
<%= render partial: 'trade_item', collection: @items.select(&->(i){ i.member_id == model.id }), as: :item %>
