<% member_items = @items.select(&->(i){ i.member_id == model.id }) %>
<div class="level is-mobile">
  <div class="level-left">
    <div class="level-item is-several">
      <%= image_tag model.avatar.variant(resize_to_limit: [35, 35]), class: 'image is-24x24' if model.avatar.attached? %>
      <div class="text-grey">
      <% if request.variant.any?(:work_wechat) %>
        <div data-open-data-target="tag" type="userName" openid="<%= model.name %>"></div>
      <% else %>
        <strong><%= model.name %></strong>
      <% end %>
      <% if current_client == model %>
        <span class="weui-badge">你自己</span>
      <% end %>
      </div>
    </div>
  </div>
  <div class="level-right mt-0">
  <% unless member_items.find(&->(i){ i.good_id == @production.id }) %>
    <%= render partial: 'add_cart', locals: { model: @production, member: model } %>
  <% end if @production %>
  </div>
</div>
<%= render partial: 'trade_item', collection: member_items, as: :item %>
