<div class="weui-media-box weui-media-box_appmsg">
  <div data-controller="empty" class="weui-media-box__hd">
    <%= link_to({ controller: 'productions', action: 'show', id: model.id }, state: 'enter', text: true) do %>
      <%= image_tag model.product.logo, class: 'image is-64x64' %>
    <% end if model.product.logo.attached? %>
  </div>
  <div class="weui-media-box__bd">
    <%= link_to({ controller: 'productions', action: 'show', id: model.id }, state: 'enter', text: true, class: 'is-flex flex-direction-column') do %>
      <h4 class="weui-media-box__title"><%= model.name %></h4>
      <p class="weui-media-box__desc pt-0">
        <%= model.product.description %>
      </p>
      <ul class="weui-media-box__info flex-wrap-wrap mt-0">
        <% model.parts.group_by(&->(i){ i.product_taxon_id }).each do |_, parts| %>
          <% parts.each_with_index do |part, index| %>
            <li class="weui-media-box__info__meta<%= index > 0 ? ' weui-media-box__info__meta_extra' : '' %>"><%= part.name %></li>
          <% end %>
        <% end %>
      </ul>
      <div>
        <span class="has-text-danger"><%= model.price.to_money.format.html_safe %></span>
        <% @cart.cards.each do |card| %>
        <div class="tags has-addons control m-0" style="display: inline-flex">
          <div class="tag is-success"><%= card.card_template.code %></div>
          <div class="tag is-light"><%= model.card_price.fetch(card.card_template.code, model.price).to_money.format.html_safe %></div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="weui-media-box__ft">
    <%= button_to({ controller: 'productions', action: 'list', id: model.id, **params.permit(:produce_on, :scene_id) }, class: 'button is-borderless has-column-centered justify-content-space-evenly', style: 'height: 4em') do %>
      <i class="fa-solid fa-lg fa-repeat"></i>
      <span>切换</span>
    <% end %>
  </div>
</div>
