<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <%= render 'alert' %>
  <div class="container">
    <%= render 'breadcrumb' %>
    <main class="columns is-gapless">
      <%= yield %>
    </main>
  </div>
<% end %>
