<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <%= render 'alert' %>
  <main class="container pt-4">
    <%= render 'breadcrumb' %>
    <div class="columns">
      <%= yield %>
    </div>
  </main>
  <%= render 'footer' %>
<% end %>
